<ion-header no-border *ngIf="baseId!='49'">
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="pictureLogin" [ngStyle]="{'background-image':'url(' + pictureLogin + ')'}" style="background: center; background-size: cover;" padding>
  <form style="display: block; max-width: 500px; height: auto; margin-left: auto; margin-right: auto;" (ngSubmit)="logIn()">
    <div>
      <img *ngIf="baseUser" src="{{baseUser.picture}}"
      style="display: block; width: 250px; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list no-lines>
      <ion-item class="item item-trns">
        <ion-label style="color: white;" floating><ion-icon ios="ios-person" md="md-person"></ion-icon>  Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="user.username" name="username" style="text-transform:lowercase"></ion-input>
      </ion-item>
      <ion-item class="item item-trns">
        <ion-label style="color: white;"  floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
      </ion-item>
      <!--<ion-item class="item item-trns" *ngIf="baseId=='49'">
        <ion-label style="color: white;"  floating><ion-icon name="briefcase"></ion-icon>  Código Empresarial</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>-->
      <div class="item item-trns" padding>
        <button color="{{ btnColor!=null?btnColor:'danger' }}" ion-button block type="submit" [disabled]="btnDisabled">Iniciar Sesión</button>
      </div>
    </ion-list>
    <a color="dark" ion-button block clear (click)="resetPassword()" >¿Olvidaste tu contraseña?</a>
    <a color="dark" ion-button block clear (click)="createAccount()" >Crear una nueva cuenta</a>
    <a color="dark" ion-button block clear (click)="createAccount(1)" >Registro Rápido</a>
  </form>
</ion-content>
