<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-title>{{data.nombre}}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <div>
      <img src="{{ data.picture }}" style="display: block; width: 250px; height: auto; margin-left: auto; margin-right: auto; 
      border: 3px solid white; background-color: black;">
    </div><br/>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre del Usuario</ion-label>
      <ion-input type="text" name="nombre" [(ngModel)]="data.nombre" disabled>
      </ion-input>
    </ion-item>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon name="barcode"></ion-icon>  Código del Usuario</ion-label>
      <ion-input type="text" name="opcion15" [(ngModel)]="data.opcion15" disabled>
      </ion-input>
    </ion-item>
    <!--CANTIDAD-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-basket-outline" md="ios-basket"></ion-icon>  Cantidad</ion-label>
      <ion-input type="number" name="opcion14" [(ngModel)]="data.opcion14">
      </ion-input>
    </ion-item>
    <!--FECHA-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fecha de Expiración</ion-label>
      <ion-datetime displayFormat="YYYY MMM DD" pickerFormat="DD MMM YYYY" [(ngModel)]="data.finMembresia" name="finMembresia" max="2025-12-31"></ion-datetime>
    </ion-item>
    <!--FECHA-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-star-outline" md="md-star-outline"></ion-icon>  Nivel de Membresía</ion-label>
      <ion-select [(ngModel)]="data.tipoNivel" name="tipoNivel">
        <ion-option value="1">Membresía Nivel 1</ion-option>
        <ion-option value="2">Membresía Nivel 2</ion-option>
        <ion-option value="3">Membresía Nivel 3</ion-option>
        <ion-option value="4">Membresía Nivel 4</ion-option>
        <ion-option value="5">Membresía Nivel 5</ion-option>
        <ion-option value="6">Membresía Nivel 6</ion-option>
        <ion-option value="7">Membresía Nivel 7</ion-option>
        <ion-option value="8">Membresía Nivel 8</ion-option>
        <ion-option value="9">Membresía Nivel 9</ion-option>
        <ion-option value="10">Membresía Nivel 10</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button block type="button" icon-start outline color="{{ btnColor!=null?btnColor:'primary' }}" (click)="createCodeUser()">
      <ion-icon name="barcode"></ion-icon>
      Generar Código
    </button>
    <button ion-button block type="submit" icon-start [disabled]="disabledBtn" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
</ion-content>