<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalles del Producto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>
  
  
  <div style="display: block; max-width: 600px; height: auto; margin-left: auto; margin-right: auto;">
    <ion-slides *ngIf="product.ver == '1'">
      <!-- IMAGEN PRINCIPAL -->
      <ion-slide *ngIf="product.picture">
        <div>
          <img src="{{ product.picture }}" id="imgAvatar" alt="Avatar"
          style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide>

      <!-- IMAGEN SECUNDARIA 1 -->
      <ion-slide *ngIf="product.picture1">
        <div >
          <img src="{{ product.picture1 }}" id="imgAvatar1" alt="Avatar"
          style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide>

      <!-- IMAGEN SECUNDARIA 2 -->
      <ion-slide *ngIf="product.picture2">
        <div >
          <img src="{{ product.picture2 }}" id="imgAvatar2" alt="Avatar"
          style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide>

      <!-- IMAGEN SECUNDARIA 3 -->
      <ion-slide *ngIf="product.picture3">
        <div>
          <img src="{{ product.picture3 }}" id="imgAvatar3" alt="Avatar"
          style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide>
    </ion-slides>
    <!-- INFORMACION DE PRODUCTOS -->
    <div>
      <h2 class="text center" *ngIf="product.name">{{product.name}}</h2>
      <p class="text center" *ngIf="product.description">
        <strong>
          <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción:
        </strong> {{product.description}}
      </p>
      <p class="text center" *ngIf="product.price ">
        <strong>
          <ion-icon ios="ios-pricetags" md="md-pricetags"></ion-icon>  Precio:
        </strong> {{ moneda!=null?moneda:'Q' }} {{product.price}}
      </p>
      <p class="text center" *ngIf="product.quantity ">
        <strong>
          <ion-icon ios="ios-basket-outline" md="ios-basket"></ion-icon>  Cantidad:
        </strong> {{product.quantity}}
      </p>
    </div><br/>

    <ion-list *ngIf="product.presentaciones_varias">
      <ion-item *ngFor="let x of product.presentaciones_varias">
        <ion-avatar item-start>
          <ion-icon name="pricetag"></ion-icon>
        </ion-avatar>
        <label>
          <p class="mayusculas">{{x.description}}</p>
          <p><strong>Precio: </strong>{{moneda!=null?moneda:'Q'}} {{x.price}}</p>
        </label>
      </ion-item>
    </ion-list>

    <!-- COMENTARIOS DE USUARIOS -->
    <div>
      <ion-card *ngFor="let c of comments">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ c.picture }}">
        </ion-avatar>
        <h2>{{ c.user }}</h2>
        <p>{{ c.fecha }}</p>
      </ion-item>
      <ion-card-content>
        <p>{{ c.comment }}</p>
      </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-fab right bottom>
    <button ion-fab (click)="openPage(product.id)" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
    </button>
  </ion-fab>

</ion-content>