<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}" *ngIf="data.id">
    <ion-segment [(ngModel)]="selectItem" color="white" >
      <ion-segment-button value="actualizar">
        Actualizar
      </ion-segment-button>
      <ion-segment-button value="detalle">
        Detalles
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form padding (ngSubmit)="saveChanges()" *ngIf="parameter.state=='1'">
    <ion-list>
      <!--IMAGEN DE PRODUCTOS-->
      <div *ngIf="data.picture!=null">
        <img src="{{ data.picture }}" id="imgAvatar" alt="Avatar"
        style="display: block; width: 250px; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <!--NOMBRE-->
      <ion-item>
        <ion-label floating><ion-icon name="information-circle"></ion-icon>  Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="data.name" name="name">
        </ion-input>
      </ion-item>
      <!--DESCRIPCION-->
      <ion-item>
        <ion-label floating><ion-icon name="information-circle"></ion-icon>  Descripción</ion-label>
        <ion-textarea type="text" [(ngModel)]="data.description" name="description">
        </ion-textarea>
      </ion-item>
      <!--PRECIO-->
      <ion-item>
        <ion-label floating><ion-icon name="pricetag"></ion-icon>  Precio</ion-label>
        <ion-input type="number" [(ngModel)]="data.price" name="price" >
        </ion-input>
      </ion-item>
      <!--MOSTRAR IMAGEN EN INFORMACIÓN-->
      <ion-item>
        <ion-label floating><ion-icon name="image"></ion-icon>  Mostrar Imagen en Detalles</ion-label>
        <ion-select [(ngModel)]="data.ver" name="ver">
          <ion-option value="0">No</ion-option>
          <ion-option value="1">Si</ion-option>
        </ion-select>
      </ion-item>
      <!--MOSTRAR IMAGEN EN INFORMACIÓN-->
      <ion-item>
        <ion-label floating><ion-icon name="image"></ion-icon>  Mostrar Imagen en Lista</ion-label>
        <ion-select [(ngModel)]="data.opcion1" name="opcion1">
          <ion-option value="0">No</ion-option>
          <ion-option value="1">Si</ion-option>
        </ion-select>
      </ion-item>
      <!-- DIGITAL -->
      <ion-row>
        <ion-col col-8>
          <ion-item>
            <ion-label floating><ion-icon name="document"></ion-icon>  ¿Es un archivo digital?</ion-label>
            <ion-select [(ngModel)]="data.digital" name="digital">
              <ion-option value="1">Si</ion-option>
              <ion-option value="0">No</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <div *ngIf="data.libros!=null">
          <img src="{{ data.libros }}" id="imgAvatar4" alt="Avatar4"
            style="display: block; width: 50px; height: auto; margin-left: auto; margin-right: auto;">
          </div>
          <div>
            <img style="display: none;" src="{{ data.libro }}" id="imgAvatar5" alt="Avatar5">
          </div>
        </ion-col>
      </ion-row>
      <!-- DURACION -->
      <ion-item>
        <ion-label floating><ion-icon ios="ios-time" md="md-time"></ion-icon>  Duración de Producto</ion-label>
        <ion-select [(ngModel)]="data.duracion" name="duracion">
          <ion-option value="0">No Aplica</ion-option>
          <ion-option value="1">1 Hora</ion-option>
          <ion-option value="2">2 Horas</ion-option>
          <ion-option value="3">3 Horas</ion-option>
          <ion-option value="4">4 Horas</ion-option>
          <ion-option value="5">5 Horas</ion-option>
          <ion-option value="6">6 Horas</ion-option>
        </ion-select>
      </ion-item>
      <!-- PRESENTACION -->
      <ion-item>
        <ion-label floating><ion-icon name="star"></ion-icon>  Tipo de Presentación</ion-label>
        <ion-select [(ngModel)]="data.presentacion" name="presentacion">
          <div *ngFor="let x of Table">
            <ion-option *ngIf="x.user_created == baseUserId" value="{{x.id}}">{{x.name}}</ion-option>
          </div>
        </ion-select>
      </ion-item>  
      <!-- PERIODO -->
      <ion-item *ngIf="appMembresia == '1'">
        <ion-label floating><ion-icon name="star"></ion-icon>  Tipo de Producto</ion-label>
        <ion-select [(ngModel)]="data.membresia" name="membresia">
          <ion-option value="1">Membresía</ion-option>
          <ion-option value="0">Producto</ion-option>
        </ion-select>
      </ion-item>
      <!-- PERIODO -->
      <ion-item *ngIf="data.membresia == 1">
        <ion-label floating><ion-icon name="time"></ion-icon>  Periodo</ion-label>
        <ion-select [(ngModel)]="data.periodo" name="periodo">
          <ion-option value="1">Días</ion-option>
          <ion-option value="2">Meses</ion-option>
          <ion-option value="3">Años</ion-option>
        </ion-select>
      </ion-item>
      <!--TIEMPO-->
      <ion-item *ngIf="data.membresia == 1">
        <ion-label floating><ion-icon name="time"></ion-icon>  Tiempo</ion-label>
        <ion-input type="number" [(ngModel)]="data.tiempo" name="tiempo"></ion-input>
      </ion-item>      
      <!-- NIVEL DE MEMBRESIA -->
      <ion-item *ngIf="data.membresia == 1">
        <ion-label floating><ion-icon name="star-outline"></ion-icon>  Nivel de Membresía</ion-label>
        <ion-select [(ngModel)]="data.nivel" name="nivel">
          <ion-option value="1">Membresía Nivel 1</ion-option>
          <ion-option value="2">Membresía Nivel 2</ion-option>
          <ion-option value="3">Membresía Nivel 3</ion-option>
          <ion-option value="4">Membresía Nivel 4</ion-option>
          <ion-option value="5">Membresía Nivel 5</ion-option>
          <ion-option value="6">Membresía Nivel 6</ion-option>
          <ion-option value="7">Membresía Nivel 7</ion-option>
          <ion-option value="8">Membresía Nivel 8</ion-option>
          <ion-option value="9">Membresía Nivel 9</ion-option>
          <ion-option value="10">Membresía Nivel 10</ion-option>
        </ion-select>
      </ion-item>
      <!--CATEGORIA-->
      <ion-item>
        <ion-label floating><ion-icon ios="ios-apps" md="md-apps"></ion-icon>  Categoría</ion-label>
        <ion-select [(ngModel)]="data.category" name="category">
          <ion-option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <!--IMAGEN-->
    <div class="upload-btn-wrapper" *ngIf="data.id">
      <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}">
        <ion-icon name="image"></ion-icon>
        Subir Imagen
      </button>
      <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
    </div>
    <!--DOCUMENTO-->
    <div class="upload-btn-wrapper" *ngIf="data.digital == '1'">
      <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}">
        <ion-icon name="bookmark"></ion-icon>
        Adjuntar Documento
      </button>
      <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar4" (change)="uploadDocument($event,'avatar4')"/>
    </div>
    <button ion-button block icon-start [disabled]="btnDisabled" type="submit" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon name="archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>

<div *ngIf="parameter.state=='2'">
  <form padding (ngSubmit)="saveChanges()" *ngIf="selectItem == 'actualizar'">
    <ion-slides>
      <!-- IMAGEN PRINCIPAL -->
      <ion-slide *ngIf="data.picture">
        <div>
          <img src="{{ data.picture }}" id="imgAvatar" alt="Avatar"
          style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
        </div>
        <!-- ENVIAR IMAGEN -->
        <div class="upload-btn-wrapper">
          <button ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}">
            <ion-icon ios="ios-image" md="md-image"></ion-icon>Subir Imagen Principal
          </button>
          <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
        </div>
      </ion-slide>

      <!-- IMAGEN SECUNDARIA 1 -->
      <ion-slide *ngIf="data.picture1">
        <div >
          <img src="{{ data.picture1 }}" id="imgAvatar1" alt="Avatar"
          style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
        </div>
        <!-- ENVIAR IMAGEN -->
        <div class="upload-btn-wrapper">
          <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}">
            <ion-icon ios="ios-image" md="md-image"></ion-icon>Subir Imagen Secundaria
          </button>
          <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar1" (change)="uploadImages($event,'avatar1', 'imgAvatar1', data.idPic1)"/>
        </div>
      </ion-slide>

      <!-- IMAGEN SECUNDARIA 2 -->
      <ion-slide *ngIf="data.picture2">
        <div >
          <img src="{{ data.picture2 }}" id="imgAvatar2" alt="Avatar"
          style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
        </div>
        <!-- ENVIAR IMAGEN -->
        <div class="upload-btn-wrapper">
          <button ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}">
            <ion-icon ios="ios-image" md="md-image"></ion-icon>Subir Imagen Secundaria
          </button>
          <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar2" (change)="uploadImages($event,'avatar2', 'imgAvatar2', data.idPic2)"/>
        </div>
      </ion-slide>

      <!-- IMAGEN SECUNDARIA 3 -->
      <ion-slide *ngIf="data.picture3">
        <div>
          <img src="{{ data.picture3 }}" id="imgAvatar3" alt="Avatar"
          style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
        </div>
        <!-- ENVIAR IMAGEN -->
        <div class="upload-btn-wrapper">
          <button ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}">
            <ion-icon ios="ios-image" md="md-image"></ion-icon>Subir Imagen Secundaria
          </button>
          <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar3" (change)="uploadImages($event,'avatar3', 'imgAvatar3', data.idPic3)"/>
        </div>
      </ion-slide>
    </ion-slides>
    <ion-list>
      <!--NOMBRE-->
      <ion-item>
        <ion-label floating><ion-icon name="information-circle"></ion-icon>  Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="data.name" name="name">
        </ion-input>
      </ion-item>
      <!--DESCRIPCION-->
      <ion-item>
        <ion-label floating><ion-icon name="information-circle"></ion-icon>  Descripción</ion-label>
        <ion-textarea type="text" [(ngModel)]="data.description" name="description">
        </ion-textarea>
      </ion-item>
      <!--PRECIO-->
      <ion-item>
        <ion-label floating><ion-icon name="pricetag"></ion-icon>  Precio</ion-label>
        <ion-input type="number" [(ngModel)]="data.price" name="price" >
        </ion-input>
      </ion-item>
      <!--COSTO-->
      <ion-item>
        <ion-label floating><ion-icon name="pricetag"></ion-icon>  Costo</ion-label>
        <ion-input type="number" [(ngModel)]="data.cost" name="cost" >
        </ion-input>
      </ion-item>
      <!--CANTIDAD-->
      <ion-item>
        <ion-label floating><ion-icon name="basket"></ion-icon>  Cantidad</ion-label>
        <ion-input type="number" [(ngModel)]="data.quantity" name="quantity" >
        </ion-input>
      </ion-item>
      <!--MOSTRAR IMAGEN EN INFORMACIÓN-->
      <ion-item>
        <ion-label floating><ion-icon name="image"></ion-icon>  Mostrar Imagen en Detalles</ion-label>
        <ion-select [(ngModel)]="data.ver" name="ver">
          <ion-option value="0">No</ion-option>
          <ion-option value="1">Si</ion-option>
        </ion-select>
      </ion-item>
      <!--MOSTRAR IMAGEN EN INFORMACIÓN-->
      <ion-item>
        <ion-label floating><ion-icon name="image"></ion-icon>  Mostrar Imagen en Lista</ion-label>
        <ion-select [(ngModel)]="data.opcion1" name="opcion1">
          <ion-option value="0">No</ion-option>
          <ion-option value="1">Si</ion-option>
        </ion-select>
      </ion-item>
      <!-- DIGITAL -->
      <ion-row>
        <ion-col col-8>
          <ion-item>
            <ion-label floating><ion-icon name="document"></ion-icon>  ¿Es un archivo digital?</ion-label>
            <ion-select [(ngModel)]="data.digital" name="digital">
              <ion-option value="1">Si</ion-option>
              <ion-option value="0">No</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <div *ngIf="data.libros!=null">
          <img src="{{ data.libros }}" id="imgAvatar4" alt="Avatar4"
            style="display: block; width: 50px; height: auto; margin-left: auto; margin-right: auto;">
          </div>
          <div>
            <img style="display: none;" src="{{ data.libro }}" id="imgAvatar5" alt="Avatar5">
          </div>
        </ion-col>
      </ion-row>
      <!-- DURACION -->
      <ion-item>
        <ion-label floating><ion-icon ios="ios-time" md="md-time"></ion-icon>  Duración de Producto</ion-label>
        <ion-select [(ngModel)]="data.duracion" name="duracion">
          <ion-option value="0">No Aplica</ion-option>
          <ion-option value="1">1 Hora</ion-option>
          <ion-option value="2">2 Horas</ion-option>
          <ion-option value="3">3 Horas</ion-option>
          <ion-option value="4">4 Horas</ion-option>
          <ion-option value="5">5 Horas</ion-option>
          <ion-option value="6">6 Horas</ion-option>
        </ion-select>
      </ion-item>
      <!-- PERIODO -->
      <ion-item *ngIf="appMembresia == '1'">
        <ion-label floating><ion-icon name="star"></ion-icon>  Tipo de Producto</ion-label>
        <ion-select [(ngModel)]="data.membresia" name="membresia">
          <ion-option value="1">Membresía</ion-option>
          <ion-option value="0">Producto</ion-option>
        </ion-select>
      </ion-item>
      <!-- PERIODO -->
      <ion-item *ngIf="data.membresia == 1">
        <ion-label floating><ion-icon name="time"></ion-icon>  Periodo</ion-label>
        <ion-select [(ngModel)]="data.periodo" name="periodo">
          <ion-option value="1">Días</ion-option>
          <ion-option value="2">Meses</ion-option>
          <ion-option value="3">Años</ion-option>
        </ion-select>
      </ion-item>
      <!--TIEMPO-->
      <ion-item *ngIf="data.membresia == 1">
        <ion-label floating><ion-icon name="time"></ion-icon>  Tiempo</ion-label>
        <ion-input type="number" [(ngModel)]="data.tiempo" name="tiempo"></ion-input>
      </ion-item>      
      <!-- NIVEL DE MEMBRESIA -->
      <ion-item *ngIf="data.membresia == 1">
        <ion-label floating><ion-icon name="star-outline"></ion-icon>  Nivel de Membresía</ion-label>
        <ion-select [(ngModel)]="data.nivel" name="nivel">
          <ion-option value="1">Membresía Nivel 1</ion-option>
          <ion-option value="2">Membresía Nivel 2</ion-option>
          <ion-option value="3">Membresía Nivel 3</ion-option>
          <ion-option value="4">Membresía Nivel 4</ion-option>
          <ion-option value="5">Membresía Nivel 5</ion-option>
          <ion-option value="6">Membresía Nivel 6</ion-option>
          <ion-option value="7">Membresía Nivel 7</ion-option>
          <ion-option value="8">Membresía Nivel 8</ion-option>
          <ion-option value="9">Membresía Nivel 9</ion-option>
          <ion-option value="10">Membresía Nivel 10</ion-option>
        </ion-select>
      </ion-item>
      <!--CATEGORIA-->
      <ion-item>
        <ion-label floating><ion-icon ios="ios-apps" md="md-apps"></ion-icon>  Categoría</ion-label>
        <ion-select [(ngModel)]="data.category" name="category">
          <ion-option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <!--DOCUMENTO-->
    <div class="upload-btn-wrapper" *ngIf="data.digital == '1'">
      <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}">
        <ion-icon ios="ios-document" md="md-document"></ion-icon>
        Adjuntar Documento
      </button>
      <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar4" (change)="uploadDocument($event,'avatar4')"/>
    </div>
    <button ion-button block type="submit" icon-start color="{{ btnColor!=null?btnColor:'primary' }}">
    <ion-icon name="archive"></ion-icon>
    Guardar Cambios
    </button>
    <button ion-button block type="button" color="danger" icon-start (click)="delete(data.id)">
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>Eliminar
    </button>
  </form>

  <div padding *ngIf="selectItem == 'detalle'">
    <ion-slides *ngIf="data.ver == '1'">
    <!-- IMAGEN PRINCIPAL -->
    <ion-slide *ngIf="data.picture">
        <div>
          <img src="{{ data.picture }}" id="imgAvatar" alt="Avatar"
          style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide>

      <!-- IMAGEN SECUNDARIA 1 -->
      <ion-slide *ngIf="data.picture1">
        <div >
          <img src="{{ data.picture1 }}" id="imgAvatar1" alt="Avatar"
          style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide>

      <!-- IMAGEN SECUNDARIA 2 -->
      <ion-slide *ngIf="data.picture2">
        <div >
          <img src="{{ data.picture2 }}" id="imgAvatar2" alt="Avatar"
          style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide>

      <!-- IMAGEN SECUNDARIA 3 -->
      <ion-slide *ngIf="data.picture3">
        <div>
          <img src="{{ data.picture3 }}" id="imgAvatar3" alt="Avatar"
          style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide>
    </ion-slides>
    <!-- INFORMACION DE PRODUCTOS -->
    <div>
      <h2 class="text center" *ngIf="data.name">{{data.name}}</h2>
      <p class="text center" *ngIf="data.description">
        <strong>
          <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción:
        </strong> {{data.description}}
      </p>
      <p class="text center" *ngIf="data.price ">
        <strong>
          <ion-icon ios="ios-pricetags" md="md-pricetags"></ion-icon>  Precio:
        </strong> {{moneda!=null?moneda:'Q'}} {{data.price}}
      </p>
      <p class="text center" *ngIf="data.cost ">
        <strong>
          <ion-icon ios="ios-pricetags" md="md-pricetags"></ion-icon>  Costo:
        </strong> {{moneda!=null?moneda:'Q'}} {{data.cost}}
      </p>
      <p class="text center" *ngIf="data.quantity ">
        <strong>
          <ion-icon ios="ios-basket-outline" md="ios-basket"></ion-icon>  Cantidad:
        </strong> {{data.quantity}}
      </p>
      <p class="text center" *ngIf="data.membresia">
        <strong>
          <ion-icon ios="ios-basket-outline" md="ios-basket"></ion-icon>  Nivel de Membresía:
        </strong> {{data.membresia}}
      </p>
    </div><br/>

    <ion-list *ngIf="data.presentaciones_varias" id="myList">
      <ion-item-sliding *ngFor="let x of data.presentaciones_varias">
        <ion-item>
          <ion-avatar item-start>
            <ion-icon name="pricetag"></ion-icon>
          </ion-avatar>
          <label>
            <p class="mayusculas">{{x.description}}</p>
            <p><strong>Precio: </strong>{{moneda!=null?moneda:'Q'}} {{x.price}}</p>
            <p><strong>Costo: </strong>{{moneda!=null?moneda:'Q'}} {{x.cost}}</p>
          </label>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="delete2(x.id)">
            <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
            Eliminar
          </button>
          <button ion-button color="primary" (click)="openModal(data.id, x.id)">
            <ion-icon ios="ios-create" md="md-create"></ion-icon>
            Editar
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <!-- COMENTARIOS DE USUARIOS -->
    <div>
      <ion-card *ngFor="let c of comments">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ c.picture }}">
        </ion-avatar>
        <h2>{{ c.user }}</h2>
        <p>{{ c.fecha }}</p>
      </ion-item>
      <ion-card-content>
        <p>{{ c.comment }}</p>
      </ion-card-content>
      </ion-card>
    </div>

    <!-- BOTON AGREGAR RETO -->
    <ion-fab right bottom>
      <button ion-fab (click)="openModal(data.id)" color="{{ btnColor!=null?btnColor:'primary' }}">
        <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </button>
    </ion-fab>
  </div>
</div>
</ion-content>