<ion-content style="background-color: #A3CD56" class="select-modal">
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-title>Información</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="splash-bg" [ngStyle]="{'background':'url(' + portadaPicture + ')'}"></div>
  <div class="splash-info">
    <div class="splash-logo" [ngStyle]="{'background-image':'url(' + profilePicture + ')'}"></div>
    <div class="text center">
      <h3 class="text center">{{ data.firstname }} {{ data.lastname }}</h3>
      <h6 class="text center">{{ data.email }}</h6>
      <p class="text center" *ngIf="data.description"> {{data.description}}</p>
      <p class="text center" *ngIf="data.phone"> {{data.phone}}</p>
    </div>
  </div>
</ion-content>