<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Crear Cuenta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="pictureLogin" [ngStyle]="{'background-image':'url(' + pictureLogin + ')'}" style="background: center; background-size: cover;" padding>
  <form style="display: block; max-width: 550px; height: auto; margin-left: auto; margin-right: auto;" (ngSubmit)="createAccount()" *ngIf="!parameter">
    <ion-list no-lines >
      <!-- USUARIO -->
      <ion-item class="item item-trns">
        <ion-label style="color: white;" floating><ion-icon ios="ios-person" md="md-person"></ion-icon>  Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="user.username" name="username" (ionChange)="inputLowerCase()"></ion-input>
      </ion-item>
      <!-- CORREO DEL USUARIO -->
      <ion-item class="item item-trns">
          <ion-label style="color: white;" floating><ion-icon ios="ios-at" md="md-at"></ion-icon>  Correo Electrónico</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="user.email" required></ion-input>
        </ion-item>
        <!-- CONTRASEÑA DEL USUARIO -->
        <ion-item class="item item-trns">
          <ion-label style="color: white;" floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Contraseña</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="user.password" required></ion-input>
        </ion-item>
        <!-- CONTRASEÑA DEL USUARIO -->
        <ion-item class="item item-trns">
          <ion-label style="color: white;" floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Confirmar Contraseña</ion-label>
          <ion-input type="password" name="password_repeat" [(ngModel)]="user.password_repeat" required></ion-input>
        </ion-item>
        <!-- NOMBRE DEL USUARIO -->
        <ion-item class="item item-trns">
          <ion-label style="color: white;" floating><ion-icon ios="ios-person" md="md-person"></ion-icon>  Nombres</ion-label>
          <ion-input type="text" [(ngModel)]="user.firstname" name="firstname">
          </ion-input>
        </ion-item>
        <!-- APELLIDOS -->
        <ion-item class="item item-trns">
          <ion-label style="color: white;" floating><ion-icon ios="ios-person" md="md-person"></ion-icon>  Apellidos</ion-label>
          <ion-input type="text" [(ngModel)]="user.lastname" name="lastname">
          </ion-input>
        </ion-item>
        <!--DESCRIPCION-->
        <ion-item no-lines class="item item-trns">
          <ion-label style="color: white;" floating><ion-icon ios="ios-flag" md="md-flag"></ion-icon>  País</ion-label>
          <ion-select name="description" [(ngModel)]="user.description">
            <ion-option  *ngFor="let u of nacionality" value="{{u.name}}">{{u.name}}</ion-option>
          </ion-select>
        </ion-item>
        <!-- CUMPLEAÑOS -->
        <ion-item class="item item-trns">
          <ion-label style="color: white;" floating><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fecha de Nacimiento</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="user.birthday" name="birthday">
          </ion-datetime>
        </ion-item>
        <!-- TELEFONO -->
        <ion-item class="item item-trns">
          <ion-label style="color: white;" floating><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  No. Teléfono</ion-label>
          <ion-input type="number" [(ngModel)]="user.phone" name="phone">
          </ion-input>
        </ion-item>
        <ion-item no-lines class="item item-trns" *ngIf="user.usuario<=0">
          <ion-label style="color: white;" floating><ion-icon ios="ios-people" md="md-people"></ion-icon>  Usuario Proveedor</ion-label>
          <ion-select name="usuario" [(ngModel)]="user.usuario">
            <ion-option  *ngFor="let u of users" value="{{u.id}}">{{u.firstname}} {{u.lastname}}</ion-option>
          </ion-select>
        </ion-item>
        <!--REFERIDO-->
        <ion-item no-lines class="item item-trns">
          <ion-label style="color: white;" floating><ion-icon name="barcode"></ion-icon>  ¿Probar con código de referencia?</ion-label>
          <ion-select name="refer" [(ngModel)]="user.refer">
            <ion-option value="0">No</ion-option>
            <ion-option value="1">Si</ion-option>
          </ion-select>
        </ion-item>
        <!--REFERIDO-->
        <!--<div no-lines class="item item-trns" *ngIf="user.refer == '0'" padding>
          <button ion-button block type="button" color="{{ btnColor!=null?btnColor:'danger' }}" (click)="openModal2()">Buscar Referencia</button>
        </div>-->
        <!--BUSCAR CÓDIGO -->
        <ion-item class="item item-trns" *ngIf="user.refer == '1'">
          <ion-label style="color: white;" floating><ion-icon ios="ios-briefcase" md="md-briefcase"></ion-icon>  Código de Referencia (OPCIONAL)</ion-label>
          <ion-input type="text" [(ngModel)]="user.search" name="search" (ionChange)="search()" maxlength="36">
          </ion-input>
        </ion-item>
        <!-- NOMBRE EMPRESA -->
        <ion-item class="item item-trns" *ngIf="user.empresa">
          <ion-label style="color: white;" floating disabled><ion-icon name="contacts"></ion-icon>  Nombre Empresa</ion-label>
          <ion-input type="text" [(ngModel)]="user.empresa" name="empresa" disabled>
          </ion-input>
        </ion-item>
        <!--REFERIDO POR -->
        <ion-item no-lines class="item item-trns" *ngIf="!user.empresa">
          <ion-label style="color: white;" floating><ion-icon ios="ios-people" md="md-people"></ion-icon>  Referido por (OPCIONAL)</ion-label>
          <ion-select name="referencia" [(ngModel)]="user.referencia" [disabled]="btnDisabled2">
            <ion-option  *ngFor="let u of staff" value="{{u.user}}">{{u.users.firstname}} {{u.users.lastname}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item no-lines class="item item-trns" (click)="openModal()">
          <ion-label>Ver términos y condiciones.</ion-label>
        </ion-item>
        <ion-item no-lines class="item item-trns">
          <ion-label>Acepto los términos y condiciones.</ion-label>
          <ion-checkbox [(ngModel)]="user.accept" name="checkbox-signup" required></ion-checkbox>
        </ion-item>
        <div no-lines class="item item-trns" padding>
          <button ion-button block [disabled]="btnDisabled" type="submit" color="{{ btnColor!=null?btnColor:'danger' }}">Crear Nueva Cuenta</button>
        </div>
    </ion-list>
  </form>
  <form *ngIf="parameter" (ngSubmit)="createAccount2()">
    <!-- CORREO DEL USUARIO -->
    <ion-item class="item item-trns">
      <ion-label style="color: white;" floating><ion-icon ios="ios-at" md="md-at"></ion-icon>  Correo Electrónico</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="user.email" required></ion-input>
    </ion-item>
    <!-- CONTRASEÑA DEL USUARIO -->
    <ion-item class="item item-trns">
      <ion-label style="color: white;" floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Contraseña</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="user.password" required></ion-input>
    </ion-item>
    <div no-lines class="item item-trns" padding>
      <button ion-button block [disabled]="btnDisabled" type="submit" color="{{ btnColor!=null?btnColor:'danger' }}">Crear Nueva Cuenta</button>
    </div>
  </form>
</ion-content>

