<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ data.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <div id='iframe'>
    <div *ngIf="data.picture" id='iframe'>
      <img class="image-slides2" [src]="data.picture | sanitizer">
    </div>
  </div>

  <!-- INFORMACION -->
  <div>
    <h2 class="text center" *ngIf="data.title">{{data.title}}</h2>
    <p class="text center" *ngIf="data.description">{{data.description}}</p>
    <p class="text center" *ngIf="data.inicio">
      <ion-icon name="calendar"></ion-icon> {{data.inicio}}
    </p>
    <p class="text center" *ngIf="data.fin">
      <ion-icon name="calendar"></ion-icon> {{data.fin}}
    </p>
    <p class="text center" *ngIf="data.descuento"><strong>Descuento: </strong>{{data.descuento}} %</p>
  </div>
</ion-content>