body {
  margin: 0 auto;
  padding: 0;
  -ms-scroll-rails: none;
  -ms-scroll-rails: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: autohiding-scrollbar;
}

.grid {
    width: 3000px;
    padding: 2500px;
}
.grid::after {
  content: "";
  display: block;
  clear: both;
}

.grid-item {
  box-sizing: border-box;
  text-align: center;
  padding-top: 10px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  float: left;
  background: rgb(2, 18, 34);
  text-align: center;
  color: white;
  border-radius: 50%;
  margin: 0px;
  font-size: 18px;
}

.grid-item-buffer {
  opacity: 0;
}

.grid-item:nth-child(1),
.grid-item:nth-child(2) {
  margin-top: 0px;
}

.grid-item:nth-child(2n+1) {
  margin-left: 45%;
  clear: left;
}

.grid-item:nth-child(2n+2) {
  clear: left;
}

.grid-item:hover {
  background: rgb(9, 52, 95);
}
