<ion-header *ngIf="parameter">
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>Productos</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="openTypes()">
        <ion-icon name="open"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-searchbar id="myInput" [(ngModel)]="search" autofocus 
    (ionChange)="searchTable()" (keyup)="searchTable()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="!parameter">
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Productos</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="openTypes()">
        <ion-icon name="open"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-searchbar id="myInput" [(ngModel)]="search" autofocus 
    (ionChange)="searchTable()" (keyup)="searchTable()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>


  <div class="w3-row">
    <div class="w3-half" *ngFor="let p of products" id="myList">
      <ion-card *ngIf="appMembresia == '1'">
          <img *ngIf="p.opcion1 == '1'" style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;"
          src="{{p.picture}}"/>
          <ion-card-content >
              <ion-card-title>
              {{p.name}}
              </ion-card-title>
              <p>
              {{p.description}}
              </p>
          </ion-card-content>
          <ion-list>
            <button ion-item (click)="seeOrders(p.id)">
            <ion-icon ios="ios-cart" md="md-cart" item-start></ion-icon>
            Ver Pedidos
            </button>
            <button ion-item (click)="openModal(2, parameter, p.id)">
            <ion-icon ios="ios-refresh" md="md-refresh" item-start></ion-icon>
            Actualizar
            </button>
            <ion-row text-center *ngIf="parameter">
              <ion-col col-4 text-center>
                <button ion-button clear (click)="removeOrder(p)" icon-only color="{{ btnColor!=null?btnColor:'primary' }}">
                <ion-icon ios="ios-arrow-up" md="ios-arrow-up"></ion-icon>
                </button>
              </ion-col>
              <ion-col col-4 text-center>
                <button ion-button clear (click)="addOrder(p)" icon-only color="{{ btnColor!=null?btnColor:'primary' }}">
                <ion-icon ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                </button>
              </ion-col>
              <ion-col col-4 text-center>
                <button ion-button clear color="dark"><strong>{{p.order}}</strong>
                </button>
              </ion-col>
            </ion-row>
        </ion-list>
      </ion-card>
    <ion-card *ngIf="appMembresia == '0' && p.membresia == '0'">
        <img *ngIf="p.opcion1 == '1'"
        style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;" src="{{p.picture}}"/>
        <ion-card-content >
            <ion-card-title>
            {{p.name}}
            </ion-card-title>
            <p>
            {{p.description}}
            </p>
        </ion-card-content>
        <ion-list>
          <button ion-item (click)="seeOrders(p.id)">
          <ion-icon ios="ios-cart" md="md-cart" item-start></ion-icon>
          Ver Pedidos
          </button>
          <button ion-item (click)="openModal(2, parameter, p.id)">
          <ion-icon ios="ios-refresh" md="md-refresh" item-start></ion-icon>
          Actualizar
          </button>
          <ion-row text-center *ngIf="parameter">
            <ion-col col-4 text-center>
              <button ion-button clear (click)="removeOrder(p)" icon-only color="{{ btnColor!=null?btnColor:'primary' }}">
              <ion-icon ios="ios-arrow-up" md="ios-arrow-up"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-4 text-center>
              <button ion-button clear (click)="addOrder(p)" icon-only color="{{ btnColor!=null?btnColor:'primary' }}">
              <ion-icon ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-4 text-center>
              <button ion-button clear color="dark"><strong>{{p.order}}</strong>
              </button>
            </ion-col>
          </ion-row>
      </ion-list>
    </ion-card>
    </div>
  </div>

  <ion-fab right bottom>
    <button ion-fab (click)="openModal(1, parameter)" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
