<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Configuración General</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
    <div>
      <img src="{{ profilePicture }}" style="display: block; width: 250px; height: auto; margin-left: auto; margin-right: auto; 
      border: 3px solid white; background-color: black;">
      <h4 class="text center">{{ user }}</h4>
      <h6 class="text center">{{ email }}</h6>
    </div><br/>
    <ion-list no-lines >
      <button ion-item (click)="openModal(1)">
        <ion-icon name="person" item-start></ion-icon>Actualizar Mi Perfil
      </button>
      <button ion-item (click)="openModal(2)">
        <ion-icon name="lock" item-start></ion-icon>Cambiar Contraseña
      </button>
      <button ion-item (click)="openModal(3)">
        <ion-icon name="pin" item-start></ion-icon>Mi Ubicación
      </button>
      <button ion-item (click)="openModal(4)">
        <ion-icon name="checkbox" item-start></ion-icon>Control de Accesos
      </button>
      <button ion-item (click)="openModal(7)">
        <ion-icon name="color-palette" item-start></ion-icon>Personalización
      </button>
      <button ion-item (click)="openModal(6)">
        <ion-icon name="construct" item-start></ion-icon>Más Configuraciones
      </button>
      <button ion-item (click)="readCodebar()">
        <ion-icon name="barcode" item-start></ion-icon>Lector Código de Barra
      </button>
    </ion-list>
  </form>
</ion-content>