<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form *ngIf="selectItem == 'actualizar'" (ngSubmit)="saveChanges()">
    <div *ngIf="data.picture" id='iframe'>
      <img class="image-slides2" id="imgAvatar" alt="Avatar" [src]="data.picture | sanitizer">
    </div>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Título</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="data.name" required>
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción</ion-label>
      <ion-textarea type="text" name="description" [(ngModel)]="data.description" required rows="1" autosize>
      </ion-textarea>
    </ion-item>
    <button ion-button block type="submit" icon-start color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
    <button ion-button block type="button" color="danger" icon-start (click)="delete(data.id)" *ngIf="data.id">
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>Eliminar
    </button>
  </form>
</ion-content>