<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Promociones</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="promociones" (click)="getAll();">
        Promociones
      </ion-segment-button>
      <ion-segment-button value="descuentos" (click)="getAll2();">
        Descuentos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="selectItem=='promociones'">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content>      
      </ion-refresher-content>
    </ion-refresher>

    <ion-list>
      <div *ngFor="let x of table">
      <ion-item (click)="openForm(1, x.id)">
        <ion-thumbnail item-start>
          <img *ngIf="x.picture" src="{{ x.picture }}">
          <img *ngIf="!x.picture" src="http://conozcasucanton.com/wp-content/uploads/sites/11/2016/07/icono_pesa.png">
        </ion-thumbnail>
        <h2 class="mayusculas">{{ x.title }}</h2>
        <p class="contenido">{{ x.description }}</p>
      </ion-item>
      </div>
    </ion-list>

    <!--BENEFICIOS-->
    <ion-fab right bottom>
      <button ion-fab (click)="openForm(1)" color="{{ btnColor!=null?btnColor:'primary' }}">
        <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </button>
    </ion-fab>
  </div>

  <div *ngIf="selectItem=='descuentos'">
    <ion-refresher (ionRefresh)="doRefresh2($event)">
      <ion-refresher-content>      
      </ion-refresher-content>
    </ion-refresher>

    <ion-list>
      <div *ngFor="let x of table">
      <ion-item (click)="openForm(2, x.id)">
        <ion-thumbnail item-start>
          <img *ngIf="x.picture" src="{{ x.picture }}">
          <img *ngIf="!x.picture" src="http://conozcasucanton.com/wp-content/uploads/sites/11/2016/07/icono_pesa.png">
        </ion-thumbnail>
        <h2>{{ x.codigo }}</h2>
        <p class="contenido mayusculas">{{ x.description }}</p>
        <p class="contenido mayusculas">Disponibles: {{ x.cantidad }}</p>
      </ion-item>
      </div>
    </ion-list>

    <!--BENEFICIOS-->
    <ion-fab right bottom>
      <button ion-fab (click)="openForm(2)" color="{{ btnColor!=null?btnColor:'primary' }}">
        <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-content>
