<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rutinas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <div *ngFor="let x of table">
    <ion-card>
      <img (click)="openForm(x.id)" src="https://professor-falken.com/wp-content/uploads/2017/03/mujer-corredora-ejercicio-running-sol-atardecer-sombra-Fondos-de-Pantalla-HD-professor-falken.com_.jpg"/>
      <div (click)="openForm(x.id)" class="card-title">{{ x.title }}</div>
      <div (click)="openForm(x.id)" class="card-subtitle">{{ x.description }}</div>
    </ion-card>
  </div>
</ion-content>