<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar *ngIf="parameter"  color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="actualizar">
        Actualizar
      </ion-segment-button>
      <ion-segment-button value="detalle">
        Detalles
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- MAPS -->
  <div style="height: 300px; width: 100%;" id="map"></div>

  <!-- MAPS -->
  <form *ngIf="selectItem == 'actualizar'" (ngSubmit)="saveChanges()" padding>
    <div *ngIf="parameter">
      <img src="{{ events.picture }}" id="imgAvatar" alt="Avatar" class="image-slides">
      </div>
      <!--IMAGEN-->
      <div class="upload-btn-wrapper2" *ngIf="data.id">
        <button ion-button icon-start type="button" color="{{ btnColor!=null?btnColor:'primary' }}">
          <ion-icon ios="ios-image" md="md-image"></ion-icon>
          Subir Imagen
        </button>
      <input type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
    </div>
    <!--LUGAR-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Lugar</ion-label>
      <ion-input type="text" [(ngModel)]="data.place" name="place">
      </ion-input>
    </ion-item>
    <!--DIRECCION-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Dirección</ion-label>
      <ion-input type="text" [(ngModel)]="data.address" name="address">
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.description" name="description">
      </ion-textarea>
    </ion-item>
    <!--TIPO DE RETO-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-flag" md="md-flag"></ion-icon>  Tipo de Reto</ion-label>
      <ion-select [(ngModel)]="data.type" name="type">
        <ion-option *ngFor="let x of table" value="{{x.id}}">{{x.description}}</ion-option>
      </ion-select>
    </ion-item>
    <!--FECHA-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fecha del Evento</ion-label>
      <ion-datetime displayFormat="YYYY MMM DD" pickerFormat="DD MMM YYYY" [(ngModel)]="data.date" max="2025-12-31" name="date"></ion-datetime>
    </ion-item>
    <!--HORA-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-time" md="md-time"></ion-icon>  Hora del Evento</ion-label>
      <ion-datetime displayFormat="HH:mm:ss" pickerFormat="HH mm ss" [(ngModel)]="data.time" name="time"></ion-datetime>
    </ion-item>

    <button ion-button block type="submit" icon-start [disabled]="btnDisabled" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
    <button *ngIf="data.id" ion-button block type="button" color="danger" icon-start (click)="delete(data.id)">
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>Eliminar
    </button>
  </form>

  <div *ngIf="selectItem == 'detalle'" style="display: block; max-width: 550px; height: auto; margin-left: auto; margin-right: auto;">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content>      
      </ion-refresher-content>
    </ion-refresher>
    <!-- INFORMACIÓN -->
    <h3 class="text center">{{ data.place }}</h3>
    <p class="text center">
      <strong>
        <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción:
      </strong> {{ data.description }}
    </p>
    <p class="text center">
      <strong>
        <ion-icon ios="ios-people" md="md-people"></ion-icon>  No. Asistentes:
      </strong> {{ events.assistants }}
    </p>
    <p class="text center">
      <strong>
        <ion-icon ios="ios-people" md="md-people"></ion-icon>  No. Interesados:
      </strong> {{ events.interested }}
    </p>

    <!-- COMENTARIOS DE USUARIOS -->
    <div>
      <ion-card *ngFor="let c of comments">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ c.picture }}">
        </ion-avatar>
        <h2>{{ c.user }}</h2>
        <p>{{ c.fecha }}</p>
      </ion-item>
      <ion-card-content>
        <p>{{ c.comment }}</p>
      </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
