<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-title>{{ title }}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="cancel()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar *ngIf="parameter" color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="actualizar">
        Actualizar
      </ion-segment-button>
      <ion-segment-button value="detalle">
        Detalles
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <form *ngIf="selectItem == 'actualizar'" (ngSubmit)="saveChanges()">
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Título</ion-label>
      <ion-input maxlength="255" type="text" name="titulo" [(ngModel)]="data.titulo" required>
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción</ion-label>
      <ion-textarea type="text" maxlength="255"
      [(ngModel)]="data.descripcion" name="descripcion" rows="1" autosize>
      </ion-textarea>
    </ion-item>
    <!--FECHA INICIO-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fecha y Hora de Inicio</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD HH:mm" pickerFormat="YYYY MMM D:HH:mm"  max="2025-12-31" 
      [(ngModel)]="data.fechaInicio" name="fechaInicio"></ion-datetime>
    </ion-item>
    <!--FECHA FIN-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fecha y Hora Final</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD HH:mm" pickerFormat="YYYY MMM D:HH:mm"  max="2025-12-31" 
      [(ngModel)]="data.fechaFin" name="fechaFin"></ion-datetime>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon>  Comentario</ion-label>
      <ion-textarea type="text" maxlength="255"
      [(ngModel)]="data.comentario" name="comentario" rows="1" autosize>
      </ion-textarea>
    </ion-item>
    <!-- CLIENTES -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-people" md="md-people"></ion-icon>  Cliente</ion-label>
      <ion-select [(ngModel)]="data.client" name="client">
        <ion-option *ngFor="let x of users" value="{{x.id}}">{{x.firstname}} {{x.lastname}}</ion-option>
      </ion-select>
    </ion-item>
    <!-- PRODUCTOS -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-basket-outline" md="ios-basket"></ion-icon>  Productos</ion-label>
      <ion-select [(ngModel)]="data.product" name="product">
        <ion-option value="">No seleccionar</ion-option>
        <ion-option *ngFor="let x of products" value="{{x.id}}">{{x.name}} - {{x.categorys.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Aprobación</ion-label>
      <ion-checkbox [(ngModel)]="data.aprobacion" name="aprobacion"></ion-checkbox>
    </ion-item>
    <button ion-button block type="submit" icon-start [disabled]="disabledBtn" color="{{ btnColor }}">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>

  <div *ngIf="selectItem == 'detalle'">
    <div *ngIf="data2">
    <h4 *ngIf="data2.titulo" class="mayusculas">{{data2.titulo}}</h4><hr>
    <h6 *ngIf="data2.descripcion"><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> Descripción</h6>
    <p *ngIf="data2.descripcion" class="text mayusculas">{{data2.descripcion}}</p>
    <h6 *ngIf="data2.comentario"><ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon> Comentario</h6>
    <p *ngIf="data2.comentario" class="text mayusculas">{{data2.comentario}}</p>
    <h6 *ngIf="dateStart"><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> Fecha de Inicio</h6>
    <p *ngIf="dateStart" class="text mayusculas">{{dateStart}}</p>
    <div *ngIf="dateStart != dateEnd">
    <h6><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> Fecha Final</h6>
    <p *ngIf="dateEnd" class="text mayusculas">{{dateEnd}}</p>
    </div>
    <h6 *ngIf="hourStart"><ion-icon ios="ios-time" md="md-time"></ion-icon> Hora</h6>
    <p *ngIf="hourStart" class="text mayusculas">{{hourStart}} - {{hourEnd}}</p>
    <h6 *ngIf="data2.clients"><ion-icon ios="ios-person" md="md-person"></ion-icon> Cliente</h6>
    <p *ngIf="data2.clients.firstname" class="text mayusculas">{{data2.clients.firstname}} {{data2.clients.lastname}}</p>
    <h6 *ngIf="data2.products"><ion-icon ios="ios-cart" md="md-cart"></ion-icon> Producto</h6>
    <p *ngIf="data2.products" class="text mayusculas">{{data2.products.name}}</p>
    </div>
  </div>
</ion-content>