<ion-header>
    <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Mensajes </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="sendMessage()">
    <div *ngIf="baseId!='82'">
      <img src="{{ message.picture }}" id="imgAvatar" alt="Avatar"
      style="display: block; width: 200px; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list no-lines >
      <ion-item >
        <ion-label floating><ion-icon ios="ios-mail" md="md-mail"></ion-icon>  Asunto</ion-label>
        <ion-input type="text" [(ngModel)]="message.subject" name="subject">></ion-input>
      </ion-item>
      <ion-item >
        <ion-label floating><ion-icon ios="ios-create" md="md-create"></ion-icon>  Mensaje</ion-label>
        <ion-textarea type="text"
          [(ngModel)]="message.message" name="message">
        </ion-textarea>
      </ion-item>
      <ion-item *ngIf="message.user_receipt==''">
          <ion-label>Usuario</ion-label>
          <ion-select [(ngModel)]="message.user_receipt">
            <ion-option  *ngFor="let u of users" value="{{u.id}}">{{u.firstname}} {{u.lastname}}</ion-option>
          </ion-select>
      </ion-item>
        <!-- SUBIR IMAGEN 
        <button ion-button block outline type="button" (click)="presentActionSheet()" icon-start>
          <ion-icon ios="ios-image" md="md-image"></ion-icon>Seleccionar Imagen
        </button>
        SUBIR IMAGEN 
        <button ion-button block outline type="button" (click)="uploadPhoto()" icon-start>
          <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>Enviar Imagen
        </button>-->
        <!-- BUTTON SUBMIT -->
        <!-- SUBIR IMAGEN -->
        <div class="upload-btn-wrapper" *ngIf="baseId!='82'">
          <button ion-button block icon-start outline color="{{ btnColor!=null?btnColor:'primary' }}">
            <ion-icon ios="ios-image" md="md-image"></ion-icon>Enviar Imagen
          </button>
          <input class="input-img" type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
        </div>
        <!-- ENVIAR MENSAJE -->
        <button ion-button block type="submit" [disabled]="btnDisabled" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start>
          <ion-icon ios="ios-send" md="md-send"></ion-icon>Enviar Mensaje
        </button>
    </ion-list>
  </form>
</ion-content>