<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="idUser==49">ZFIT Staff</ion-title>
    <ion-title *ngIf="idUser!=49">Staff</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="users" (click)="getAll()">
        Usuarios
      </ion-segment-button>
      <ion-segment-button value="staff" (click)="getAllSecond()">
        Staff
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-searchbar id="myInput" [(ngModel)]="search" autofocus 
    (ionChange)="searchTable()" (keyup)="searchTable()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="selectItem == 'users'" id="myList">
    <ion-item ion-item *ngFor="let u of users">
      <ion-toggle (ionChange)="create(u.id)" *ngIf="u.staff == 0"></ion-toggle>
      <ion-toggle (ionChange)="delete(u.idStaff)" checked="true" *ngIf="u.staff == 1"></ion-toggle>
      <ion-thumbnail item-start>
        <img src="{{ u.picture }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ u.firstname }} {{ u.lastname }}</h2>
        <p><strong>Correo: </strong>{{ u.email }}</p>
        <p><strong>Nickname: </strong>{{ u.username }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list *ngIf="selectItem == 'staff'" id="myList">
    <ion-item-sliding *ngFor="let x of staff">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ x.users.picture }}">
        </ion-avatar>
        <h2>{{ x.users.firstname }} {{ x.users.lastname }}</h2>
        <p>{{ x.puesto }}</p>
        <p>{{ x.description }}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete2(x.id, x.users.id)">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
          Eliminar
        </button>
        <button ion-button color="primary" (click)="update(x.id)">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
          Editar
        </button>
        <button ion-button color="btnform" (click)="membership(x.user)">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
          Membresía
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  
</ion-content>
