.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    display: none;
    overflow: hidden;
}