<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar *ngIf="parameter.id" color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="actualizar">
        Actualizar
      </ion-segment-button>
      <ion-segment-button value="detalle">
        Detalles
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="parameter.type=='1'">
  <form *ngIf="selectItem == 'actualizar'" (ngSubmit)="saveChanges()" padding>
    <div>
      <img src="{{ data.picture }}" id="imgAvatar" alt="Avatar" class="image-slides">
    </div>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Título</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="data.title" required>
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción</ion-label>
      <ion-textarea type="text" name="description" [(ngModel)]="data.description" required>
      </ion-textarea>
    </ion-item>
    <!--INICIO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Fecha Inicio</ion-label>
      <ion-datetime displayFormat="YYYY MMM DD" pickerFormat="DD MMM YYYY" name="inicio" [(ngModel)]="data.inicio" required>
      </ion-datetime>
    </ion-item>
    <!--FIN-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Fecha Fin</ion-label>
      <ion-datetime displayFormat="YYYY MMM DD" pickerFormat="DD MMM YYYY" name="fin" [(ngModel)]="data.fin" required>
      </ion-datetime>
    </ion-item>
    <!--DESCUENTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descuento</ion-label>
      <ion-input type="number" name="descuento" [(ngModel)]="data.descuento" required>
      </ion-input>
    </ion-item>
    <!-- PRODUCTOS -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Productos</ion-label>
      <ion-select [(ngModel)]="data.product" name="product">
        <ion-option value="null">No Seleccionar</ion-option>
        <ion-option *ngFor="let x of table" value="{{x.id}}">{{x.name}}</ion-option>
      </ion-select>
    </ion-item>
    <!-- EVENTOS -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Eventos</ion-label>
      <ion-select [(ngModel)]="data.event" name="event">
        <ion-option value="null">No Seleccionar</ion-option>
        <ion-option *ngFor="let x of table2" value="{{x.id}}">{{x.description}}</ion-option>
      </ion-select>
    </ion-item>

    <!--IMAGEN-->
    <div class="upload-btn-wrapper" *ngIf="data.id">
      <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}" >
        <ion-icon ios="ios-image" md="md-image"></ion-icon>
        Subir Imagen
      </button>
      <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar" (change)="uploadImage($event,'avatar')" (click)="permission()"/>
    </div>
    <button ion-button block type="submit" icon-start [disabled]="disabledBtn" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
    <button *ngIf="data.id" ion-button block type="button" color="danger" icon-start (click)="delete(data.id)">
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>Eliminar
    </button>
  </form>

  <div *ngIf="selectItem == 'detalle'">
    <div *ngIf="data.picture" id='iframe'>
      <img class="image-slides2" [src]="data.picture | sanitizer">
    </div>

    <!-- INFORMACION -->
    <div>
      <h2 class="text center" *ngIf="data.title">{{data.title}}</h2>
      <p class="text center" *ngIf="data.description">{{data.description}}
      </p>
    </div>
  </div>
  </div>


  <div *ngIf="parameter.type=='2'">
  <form *ngIf="selectItem == 'actualizar'" (ngSubmit)="saveChanges2()" padding>
    <div>
      <img src="{{ data2.picture }}" id="imgAvatar2" alt="Avatar2" class="image-slides">
    </div>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Cantidad</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="data2.cantidad" required>
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción</ion-label>
      <ion-textarea type="text" name="description" [(ngModel)]="data2.description" required>
      </ion-textarea>
    </ion-item>
    <!--DESCUENTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descuento</ion-label>
      <ion-input type="number" name="latitude" [(ngModel)]="data2.latitude" required>
      </ion-input>
    </ion-item>
    <!--CODIGO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Código</ion-label>
      <ion-input type="text" name="codigo" [(ngModel)]="data2.codigo" disabled>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating><ion-icon name="eye"></ion-icon>  Mostrar Descuento</ion-label>
      <ion-select [(ngModel)]="data2.longitude" name="longitude">
        <ion-option value="0">No Mostrar</ion-option>
        <ion-option value="1">Mostrar</ion-option>
      </ion-select>
    </ion-item>

    <!--IMAGEN-->
    <div class="upload-btn-wrapper" *ngIf="data2.id">
      <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}" >
        <ion-icon ios="ios-image" md="md-image"></ion-icon>
        Subir Imagen
      </button>
      <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar" (change)="uploadImage2($event,'avatar2')" (click)="permission()"/>
    </div>
    <button ion-button block type="submit" icon-start [disabled]="disabledBtn" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
    <button *ngIf="data2.id" ion-button block type="button" color="danger" icon-start (click)="deleteDescuento(data2.id)">
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>Eliminar
    </button>
  </form>

  <div *ngIf="selectItem == 'detalle'">
    <div *ngIf="data2.picture" id='iframe'>
      <img class="image-slides2" [src]="data2.picture | sanitizer">
    </div>

    <!-- INFORMACION -->
    <div>
      <h2 class="text center" *ngIf="data2.codigo">{{data2.codigo}}</h2>
      <p class="text center" *ngIf="data2.description">
        {{data2.description}}
      </p>
      <p class="text center" *ngIf="data2.cantidad">
        <strong>Disponibles: </strong>{{data2.cantidad}}
      </p>
    </div>
  </div>
  </div>
</ion-content>