<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Promociones</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="promociones" (click)="getAll(idUserApp);">
        Promociones
      </ion-segment-button>
      <ion-segment-button value="descuentos" (click)="getAll2(idUserApp);">
        Descuentos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div *ngIf="selectItem=='promociones'">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content>      
      </ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="+membresiaClient >= +nivelMembresia">
      <div *ngFor="let x of table">
      <ion-item (click)="openForm(x.id)">
        <div item-start>
          <img class="image-blog" *ngIf="x.picture"
          src="{{ x.picture }}">
        </div>
        <h2>{{ x.title }}</h2>
        <p class="contenido">{{ x.description }}</p>
      </ion-item>
      </div>
    </ion-list>
  </div>


  <div *ngIf="selectItem=='descuentos'">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content>      
      </ion-refresher-content>
    </ion-refresher>
    
    <div class="card-background-page" *ngIf="+membresiaClient >= +nivelMembresia">
      <div *ngFor="let x of table">
      <ion-card *ngIf="x.longitude=='1'" (click)="copyClipboard(x.codigo)"> 
        <img src="{{ x.picture }}"/>
        <div class="text-abc"></div>
        <div class="card-title">{{ x.codigo }}</div>
        <div class="card-subtitle mayusculas">{{ x.description }}</div>
      </ion-card>
      </div>
    </div>
  </div>
  <!--<div *ngIf="selectItem=='promociones'">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content>      
      </ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="+membresiaClient >= +nivelMembresia">
      <div *ngFor="let x of table">
      <ion-item (click)="openForm(x.id)">
        <div item-start>
          <img class="image-blog" *ngIf="x.picture"
          src="{{ x.picture }}">
        </div>
        <h2>{{ x.title }}</h2>
        <p class="contenido">{{ x.description }}</p>
      </ion-item>
      </div>
    </ion-list>
  </div>

  <div class="card-background-page" *ngIf="selectItem=='descuentos'">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content>      
      </ion-refresher-content>
    </ion-refresher>
    
    <div *ngIf="+membresiaClient >= +nivelMembresia">
      <ion-card *ngFor="let x of table"> 
        <img src="{{ x.picture }}"/>
        <div class="text-abc"></div>
        <div class="card-title">{{ x.codigo }}</div>
        <div class="card-subtitle mayusculas">{{ x.description }}</div>
      </ion-card>
    </div>
  </div>-->
</ion-content>