<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis Contactos</ion-title>
  </ion-navbar>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-searchbar id="myInput" [(ngModel)]="search" autofocus
    (ionChange)="searchTable()" (keyup)="searchTable()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list id="myList">
    <ion-item *ngFor="let u of users">
      <ion-thumbnail item-start>
        <img src="{{ u.picture }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ u.firstname }} {{ u.lastname }}</h2>
        <p>{{ u.email }}</p>
      </ion-label>
      <ion-toggle *ngIf="u.dueno=='0'" (ionChange)="sendMessages(1, u)"></ion-toggle>
      <ion-toggle *ngIf="u.dueno=='1'" checked="true" (ionChange)="deleteMessages(0, u)"></ion-toggle>  
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="sendMessage(usersSend)">
      <ion-icon name="md-send"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
