<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rutinas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <div *ngFor="let x of table">
    <ion-card>
      <ion-fab top right>
        <button ion-fab mini (click)="openModal(x.id)">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
        </button>
      </ion-fab>
      <img (click)="openForm(x.id)" src="https://deportistasmx.files.wordpress.com/2015/02/clouds-running-wallpaper.jpg"/>
      <div (click)="openForm(x.id)" class="card-title">{{ x.title }}</div>
      <div (click)="openForm(x.id)" class="card-subtitle">{{ x.description }}</div>
    </ion-card>
  </div>

  <!-- BOTON AGREGAR -->
  <ion-fab right bottom>
    <button ion-fab (click)="openModal()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>