<ion-tabs selectedIndex="0">
  <ion-tab [root]="tab1Root" tabTitle="Mensajes" tabIcon="ios-chatbubbles"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Mensajes Staff" tabIcon="ios-chatbubbles"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Contactos" tabIcon="ios-people"></ion-tab>
</ion-tabs>