<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ZFIT Club</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="principal" (click)="getAll()">
        Principal
      </ion-segment-button>
      <ion-segment-button value="tipo" (click)="getAllSecond()">
        Tipo de Entreno
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="selectItem == 'principal'">
  <ion-card class="adv-map" *ngFor="let e of table">
    <div style="position: relative">
      <img src="{{e.picture}}">
      <ion-fab right top>
      <button ion-fab top (click)="openPage(e.id)" >
        <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
      </button>      
      </ion-fab>
    </div>
    <ion-card-content item-start>
      <ion-card-title>
      {{e.place}}
      </ion-card-title>
      <p>{{e.description}}</p>
    </ion-card-content>
  </ion-card>
  </div>

  <!-- RETOS -->
  <div *ngIf="selectItem == 'tipo'">
    <ion-list>
      <ion-item *ngFor="let x of table2" (click)="openForm(x.id)">
        <ion-avatar item-start>
          <ion-icon ios="ios-flag" md="md-flag"></ion-icon>
        </ion-avatar>
        <h2>{{ x.description }}</h2>
      </ion-item>
    </ion-list>
  </div>
  
  <!-- BOTON AGREGAR RETO -->
  <ion-fab right bottom *ngIf="selectItem == 'tipo'">
    <button ion-fab (click)="openForm()" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
