<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Social</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>
  
  <div *ngFor="let x of table">
    <ion-card *ngIf="x.user == baseUserId" (click)="openForm(x.id)">
      <img src="{{x.picture}}" imageViewer>
      <img *ngIf="!x.picture" imageViewer src="http://conozcasucanton.com/wp-content/uploads/sites/11/2016/07/icono_pesa.png">
      <ion-card-content>
        <ion-card-title>
          {{x.title}}
        </ion-card-title>
        <p class="contenido">{{x.description}}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>