<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Comentarios de Retos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <div *ngIf="data.picture">
      <img src="{{ data.picture }}" id="imgAvatar" alt="Avatar" class="image-slides">
    </div>
    <div *ngIf="!data.picture">
      <img src="https://bpresentacion.s3.us-west-2.amazonaws.com/avatar/8Bjpl7wuGY88gjCBWR3nsBELyEgqEbXwPkyvWiCz.png" id="imgAvatar" alt="Avatar" class="image-slides">
    </div>
    <!--IMAGEN-->
    <div class="upload-btn-wrapper">
      <button ion-button icon-start>
        <ion-icon ios="ios-image" md="md-image"></ion-icon>
        Subir Imagen
      </button>
    <input type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
    </div>
    <ion-item>
      <ion-label floating><ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>  Comentario</ion-label>
      <ion-textarea type="text"
      [(ngModel)]="data.comment" name="comment" required>
      </ion-textarea>
    </ion-item>
    <button ion-button block type="submit" icon-start [disabled]="btnDisabled" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
</ion-content>