<ion-header *ngIf="parameter">
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>Productos</ion-title>
    <ion-buttons end *ngIf="shopCart=='1'">
      <button ion-button clear icon-only (click)="openCart()">
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-searchbar id="myInput" [(ngModel)]="search" autofocus 
    (ionChange)="searchTable()" (keyup)="searchTable()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="!parameter">
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Productos</ion-title>
    <ion-buttons end *ngIf="shopCart=='1'">
      <button ion-button clear icon-only (click)="openCart()">
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-searchbar id="myInput" [(ngModel)]="search" autofocus 
    (ionChange)="searchTable()" (keyup)="searchTable()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <div class="w3-row">
    <div class="w3-half" *ngFor="let p of products" id="myList">
      <ion-card *ngIf="appMembresia == '1'">
          <img *ngIf="p.opcion1 == '1'" style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;" src="{{p.picture}}"/>
          <ion-card-content >
              <ion-card-title>
              {{p.name}}
              </ion-card-title>
              <p>
              {{p.description}}
              </p>
          </ion-card-content>
          <ion-list no-lines>
            <div ion-item *ngIf="p.presentaciones_varias.length!=0">
            <ion-select [(ngModel)]="selectItem" name="selectItem">
              <ion-option *ngFor="let x of p.presentaciones_varias" [value]="x">{{x.description}}</ion-option>
            </ion-select>
            </div>
            <div *ngIf="p.presentaciones_varias.length!=0">
              <div *ngFor="let x of p.presentaciones_varias">
                <button ion-item *ngIf="selectItem==x" (click)="saveChanges2(p)">
                  <ion-icon ios="ios-cart" md="md-cart" item-start></ion-icon>
                  Añadir al Carrito
                </button>
              </div>
            </div>
            <button *ngIf="p.presentaciones_varias.length==0&&shopCart=='1'" ion-item (click)="saveChanges(p)">
            <ion-icon ios="ios-cart" md="md-cart" item-start></ion-icon>
            Añadir al Carrito
            </button>
            <button ion-item (click)="makeAnOrder(p.id)" *ngIf="orders=='1'">
            <ion-icon ios="ios-pricetag" md="md-pricetag" item-start></ion-icon>
            Realizar Pedido
            </button>
            <button ion-item (click)="seeMore(p.id)">
            <ion-icon ios="ios-eye" md="md-eye" item-start></ion-icon>
            Ver Más
            </button>
        </ion-list>
      </ion-card>
      <ion-card *ngIf="appMembresia == '0' && p.membresia == '0'">
          <img *ngIf="p.opcion1 == '1'" style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;" src="{{p.picture}}"/>
          <ion-card-content >
              <ion-card-title>
              {{p.name}}
              </ion-card-title>
              <p>
              {{p.description}}
              </p>
          </ion-card-content>
          <ion-list no-lines>
            <div ion-item *ngIf="p.presentaciones_varias.length!=0">
            <ion-select [(ngModel)]="selectItem" name="selectItem">
              <ion-option *ngFor="let x of p.presentaciones_varias" [value]="x">{{x.description}}</ion-option>
            </ion-select>
            </div>
            <div *ngIf="p.presentaciones_varias.length!=0">
              <div *ngFor="let x of p.presentaciones_varias">
                <button ion-item *ngIf="selectItem==x" (click)="saveChanges2(p)">
                  <ion-icon ios="ios-cart" md="md-cart" item-start></ion-icon>
                  Añadir al Carrito
                </button>
              </div>
            </div>
            <button *ngIf="p.presentaciones_varias.length==0&&shopCart=='1'" ion-item (click)="saveChanges(p)">
            <ion-icon ios="ios-cart" md="md-cart" item-start></ion-icon>
            Añadir al Carrito
            </button>
            <button ion-item (click)="makeAnOrder(p.id)" *ngIf="orders=='1'">
            <ion-icon ios="ios-pricetag" md="md-pricetag" item-start></ion-icon>
            Realizar Pedido
            </button>
            <button ion-item (click)="seeMore(p.id)">
            <ion-icon ios="ios-eye" md="md-eye" item-start></ion-icon>
            Ver Más
            </button>
        </ion-list>
      </ion-card>
    </div>
  </div>
</ion-content>