<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mensajería</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <div *ngFor="let m of messages">
    <div *ngIf="m.user_receipt == idUserSend && m.user_send == idUserReceipt" class="container">
      <h3 *ngIf="m.subject != 'Sin Asunto'">{{ m.subject }}</h3>
      <p>{{ m.message }}</p>
      <div *ngIf="m.picture">
        <img src="{{ m.picture }}"
        style="display: block; width: 200px; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div *ngIf="m.link1">
        <button ion-button block type="submit" [disabled]="btnDisabled" (click)="openDocument(m.link1)" icon-start color="{{ btnColor!=null?btnColor:'primary' }}">
          <ion-icon name="document"></ion-icon> Abrir Documento
        </button>
      </div>
      <div *ngIf="m.link2">
        <button ion-button block type="submit" [disabled]="btnDisabled" (click)="openBrowser(m.link2)" icon-start color="{{ btnColor!=null?btnColor:'primary' }}">
          <ion-icon name="link"></ion-icon> Abrir Link
        </button>
      </div>
      <span class="time-left">{{ m.created_at }}</span>
    </div>
    
    <div *ngIf="m.user_receipt == idUserReceipt && m.user_send == idUserSend" class="container darker">
      <h3 class="right" *ngIf="m.subject != 'Sin Asunto'">{{ m.subject }}</h3>
      <p class="right">{{ m.message }}</p>
      <div *ngIf="m.picture">
        <img src="{{ m.picture }}"
        style="display: block; width: 200px; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div *ngIf="m.link1">
        <button ion-button block type="submit" [disabled]="btnDisabled" (click)="openDocument(m.link1)" icon-start color="{{ btnColor!=null?btnColor:'primary' }}">
          <ion-icon name="document"></ion-icon> Abrir Documento
        </button>
      </div>
      <div *ngIf="m.link2">
        <button ion-button block type="submit" [disabled]="btnDisabled" (click)="openBrowser(m.link2)" icon-start color="{{ btnColor!=null?btnColor:'primary' }}">
          <ion-icon name="link"></ion-icon> Abrir Link
        </button>
      </div>
      <span class="time-right">{{ m.created_at }}</span>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" placeholder="Escribe tu mensaje." [(ngModel)]="message.message" name="message"></ion-input>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only (click)="sendMessages()">
          <ion-icon ios="ios-paper-plane" md="md-paper-plane"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
