<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal('Close')">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <!--FECHA-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fecha de Medición</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="data.opcion1" name="opcion1"></ion-datetime>
    </ion-item>
    <!--PESO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Peso</ion-label>
      <ion-input type="number" name="peso" [(ngModel)]="data.peso">
      </ion-input>
    </ion-item>
    <!--PORCENTAJE DE GRASA-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  % De Grasa</ion-label>
      <ion-input type="number" name="grasa" [(ngModel)]="data.grasa">
      </ion-input>
    </ion-item>
    <!--IMS-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  IMC</ion-label>
      <ion-input type="text" name="imc" [(ngModel)]="data.imc">
      </ion-input>
    </ion-item>
    <!--MASA MUSCULAR-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Masa Muscular</ion-label>
      <ion-input type="number" name="masa_muscular" [(ngModel)]="data.masa_muscular">
      </ion-input>
    </ion-item>
    <!--MASA MUSCULAR-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Complexión Física</ion-label>
      <ion-input type="text" name="complexion" [(ngModel)]="data.complexion">
      </ion-input>
    </ion-item>
    <!--COMENTARIO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Comentario</ion-label>
      <ion-textarea type="text" name="comentario" [(ngModel)]="data.comentario">
      </ion-textarea>
    </ion-item>
    <!--FOTO NO. 1-->
    <div>
      <img src="{{ data.foto_frente }}" id="imgAvatar" alt="Avatar" class="image-slides">
    </div>
    <div class="upload-btn-wrapper">
      <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}" >
        <ion-icon ios="ios-image" md="md-image"></ion-icon>
        Foto de Enfrente
      </button>
      <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
    </div>
    <!--FOTO NO. 2-->
    <div>
      <img src="{{ data.foto_espalda }}" id="imgAvatar2" alt="Avatar2" class="image-slides">
    </div>
    <div class="upload-btn-wrapper">
      <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}" >
        <ion-icon ios="ios-image" md="md-image"></ion-icon>
        Foto de Espalda
      </button>
      <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar2" (change)="uploadImage2($event,'avatar2')"/>
    </div>
    <!--FOTO NO. 3-->
    <div>
      <img src="{{ data.opcion2 }}" id="imgAvatar3" alt="Avatar3" class="image-slides">
    </div>
    <div class="upload-btn-wrapper">
      <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}" >
        <ion-icon ios="ios-image" md="md-image"></ion-icon>
        Foto de Perfil
      </button>
      <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar3" (change)="uploadImage3($event,'avatar3')"/>
    </div>
    <button ion-button block type="submit" icon-start [disabled]="disabledBtn" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
</ion-content>