ion-card.adv-map p {
  font-size: 0.7em !important;
}

button[fab].fab-map {
  top: calc(100% - 35px);
  z-index: 50;
}

.item-bold {
  font-weight: bold;
}

ion-content.cards-bg {
  background-color: #f4f4f7;
}

ul
{
list-style-type: none;
}

ul.slideContent {
  display: none;
}

a {
  color: DarkCyan;
}

a.header {
  color: DarkSlateGray ;
}

a:hover {
  color: LightSlateGray  ;
}

.accordion {
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  display: none;
  overflow: hidden;
}