<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let o of orders">
    <ion-card-content (click)="detailOrder(o.ern, o.token, o.id)">
      <ion-card-title *ngIf="o.state == '5'">
        <ion-icon ios="ios-document" md="md-document" item-start></ion-icon>      
        Orden No. {{ o.id }} - Depositado
      </ion-card-title>
      <ion-card-title *ngIf="o.state == '4'">
        <ion-icon ios="ios-cash" md="md-cash" item-start></ion-icon>        
        Orden No. {{ o.id }} - Pagar
      </ion-card-title>
      <ion-card-title *ngIf="o.state == '3' && !token">
        <ion-icon ios="ios-card" md="md-card" item-start></ion-icon>     
        Orden No. {{ o.id }} - No Pagado
      </ion-card-title>
      <ion-card-title *ngIf="o.state == '3' && token">
        <ion-icon ios="ios-card" md="md-card" item-start></ion-icon>     
        Orden No. {{ o.id }} - Pagado
      </ion-card-title>
      <ion-card-title *ngIf="o.state == '2'">
        <ion-icon ios="ios-time" md="md-time" item-start></ion-icon>
        Orden No. {{ o.id }} - Proceso
      </ion-card-title>
      <ion-card-title *ngIf="o.state == '1'">
        <ion-icon ios="ios-checkmark" md="md-checkmark" item-start></ion-icon>
        Orden No. {{ o.id }} - Recibido
      </ion-card-title>
      <ion-card-title *ngIf="o.state == '0'">
        <ion-icon ios="ios-close" md="md-close" item-start></ion-icon>
        Orden No. {{ o.id }} - Cancelado
      </ion-card-title>
      <p class="text">
        <strong>Comentario: </strong>{{ o.comment }}
      </p>
      <p class="text">
        <strong>Producto: </strong>{{ o.products.name }}
      </p>
      <p class="text">
        <strong>Precio Unitario: </strong>{{moneda}} {{ o.unit_price }}
      </p>
      <p class="text">
        <strong>Cantidad: </strong>{{ o.quantity }}
      </p>
      <p class="text">
        <strong>Total: </strong>{{moneda}} {{ o.total }}
      </p>
    </ion-card-content>
    <ion-list>
      <button *ngIf="o.state == '3' && !token && o.ern" ion-item (click)="payProduct(o)">
        <ion-icon name="card" item-start></ion-icon>
        Pagar
      </button>
      <button *ngIf="o.state == '4'" ion-item (click)="cancel(o.id)">
        <ion-icon ios="ios-close" md="md-close" item-start></ion-icon>
        Cancelar
      </button>
      <button *ngIf="o.state == '3'" ion-item (click)="cancel(o.id)">
        <ion-icon ios="ios-close" md="md-close" item-start></ion-icon>
        Cancelar
      </button>
      <button *ngIf="o.state == '2'" ion-item (click)="cancel(o.id)">
        <ion-icon ios="ios-close" md="md-close" item-start></ion-icon>
        Cancelar
      </button>
      <button *ngIf="o.state == '2'" ion-item (click)="accept(o.id)">
        <ion-icon ios="ios-checkmark" md="md-checkmark" item-start></ion-icon>
        Recibido
      </button>
    </ion-list>
  </ion-card>
</ion-content>