<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="parameter == '1'">
  <form (ngSubmit)="updateProfile()">
    <ion-list no-lines>    
      <!-- IMAGEN DEL PERFIL-->
      <div *ngIf="profile.picture">
        <img src="{{ profile.picture }}" id="imgAvatar" alt="Avatar"
        style="display: block; width: 200px; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="upload-btn-wrapper">
        <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}">
          <ion-icon name="image"></ion-icon>
          Foto de Perfil
        </button>
        <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
      </div>  
      <!-- NICK DEL USUARIO -->
      <ion-item>
        <ion-label floating><ion-icon name="person"></ion-icon>  Nombre de Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="profile.username" name="username">
        </ion-input>
      </ion-item>
      <!-- CORREO ELECTRONICO -->
      <ion-item>
        <ion-label floating><ion-icon name="at"></ion-icon>  Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="profile.email" name="email">
        </ion-input>
      </ion-item>
      <!-- NOMBRE DEL USUARIO -->
      <ion-item>
        <ion-label floating><ion-icon name="person"></ion-icon>  Nombres</ion-label>
        <ion-input type="text" [(ngModel)]="profile.firstname" name="firstname">
        </ion-input>
      </ion-item>
      <!-- APELLIDOS -->
      <ion-item>
        <ion-label floating><ion-icon name="person"></ion-icon>  Apellidos</ion-label>
        <ion-input type="text" [(ngModel)]="profile.lastname" name="lastname">
        </ion-input>
      </ion-item>
      <!--DESCRIPCION-->
      <ion-item no-lines>
        <ion-label floating><ion-icon ios="ios-flag" md="md-flag"></ion-icon>  País</ion-label>
        <ion-select name="description" [(ngModel)]="profile.description">
        <ion-option  *ngFor="let u of nacionality" value="{{u.name}}">{{u.name}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- EDAD
      <ion-item>
        <ion-label floating><ion-icon name="information-circle"></ion-icon>  Edad</ion-label>
        <ion-input type="text" [(ngModel)]="profile.age" name="age">
        </ion-input>
      </ion-item> -->
      <!-- CUMPLEAÑOS -->
      <ion-item>
        <ion-label floating><ion-icon name="calendar"></ion-icon>  Fecha de Nacimiento</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="profile.birthday" name="birthday">
        </ion-datetime>
      </ion-item>
      <!-- TELEFONO -->
      <ion-item>
        <ion-label floating><ion-icon name="phone-portrait"></ion-icon>  No. Teléfono</ion-label>
        <ion-input type="number" [(ngModel)]="profile.phone" name="phone">
        </ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" icon-start color="{{ btnColor!=null?btnColor:'primary' }}" [disabled]="btnDisabled">
      <ion-icon name="archive"></ion-icon> Guardar Cambios
    </button>
  </form>
</ion-content>

<ion-content padding *ngIf="parameter == '2'">
  <form (ngSubmit)="changePasswordProfile()">
    <!--CONTRASEÑA ANTIGUA-->
    <ion-item>
      <ion-label floating><ion-icon name="lock"></ion-icon>  Contraseña Actual</ion-label>
      <ion-input type="password" [(ngModel)]="changePassword.old_pass" name="old_pass">
      </ion-input>
    </ion-item>
    <!--CONTRASEÑA NUEVA-->
    <ion-item>
      <ion-label floating><ion-icon name="lock"></ion-icon>  Contraseña Nueva</ion-label>
      <ion-input type="password" [(ngModel)]="changePassword.new_pass" name="new_pass">
      </ion-input>
    </ion-item>
    <!--CONFIRMAR CONTRASEÑA NUEVA-->
    <ion-item>
      <ion-label floating><ion-icon name="lock"></ion-icon>  Confirmar Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="changePassword.new_pass_rep" name="new_pass_rep" >
      </ion-input>
    </ion-item>
    <button ion-button block type="submit" icon-start color="{{ btnColor!=null?btnColor:'primary' }}" [disabled]="btnDisabled2">
      <ion-icon name="archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
</ion-content>

<ion-content padding *ngIf="parameter == '4'">
  <form (ngSubmit)="updateProfile2()">
    <!--REFERIDO POR -->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-people" md="md-people"></ion-icon>  Referido por (OPCIONAL)</ion-label>
      <ion-select name="referencia" [(ngModel)]="profile.referencia">
        <ion-option  *ngFor="let u of staff" value="{{u.user}}">{{u.users.firstname}} {{u.users.lastname}}</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button block type="submit" icon-start color="{{ btnColor!=null?btnColor:'primary' }}" [disabled]="btnDisabled2">
      <ion-icon name="archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
  <h3 *ngIf="profile.referencias" class="text">Referido Por:</h3><hr/>
  <div *ngIf="profile.referencias">
    <img *ngIf="profile.referencias.picture" src="{{ profile.referencias.picture }}" 
    style="display: block; width: 100px; height: auto; margin-left: auto; margin-right: auto;">
    <h4 class="text center">{{ profile.referencias.firstname }} {{ profile.referencias.lastname }}</h4>
    <h6 class="text center">{{ profile.referencias.email }}</h6>
  <br/>
  <button ion-button block type="button" (click)="validateMembership()"
  icon-start color="{{ btnColor!=null?btnColor:'primary' }}" [disabled]="btnDisabled3">
    <ion-icon name="star"></ion-icon>
    Canjear Membresía
  </button>
  </div>

  <h3 class="text">Membresía Empresarial:</h3><hr/>
  <!--TRABAJO -->
  <form (ngSubmit)="updateProfile3()">
    <ion-item>
      <ion-label floating><ion-icon name="briefcase"></ion-icon>  Código Empresarial</ion-label>
      <ion-input type="text" [(ngModel)]="profile.opcion18" name="opcion18" (ionChange)="search()" maxlength="36">
      </ion-input>
    </ion-item>
    <button ion-button block type="submit" icon-start color="{{ btnColor!=null?btnColor:'primary' }}" [disabled]="btnDisabled">
      <ion-icon name="archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
  <div *ngIf="data">
    <img *ngIf="data.picture" src="{{ data.picture }}" 
    style="display: block; width: 100px; height: auto; margin-left: auto; margin-right: auto;">
    <h4 class="text center">{{ data.firstname }} {{ data.lastname }}</h4>
    <h6 class="text center">{{ data.email }}</h6>
  </div><br/>
  <button ion-button block type="button" (click)="validateMembershipCommerce()" *ngIf="data"
  icon-start color="{{ btnColor!=null?btnColor:'primary' }}" [disabled]="btnDisabled4">
    <ion-icon name="star"></ion-icon>
    Canjear Membresía
  </button>
</ion-content>

<ion-content *ngIf="parameter == '5'">
  <ion-list>
    <div *ngFor="let x of table">
      <ion-item *ngIf="x.client == clientID" (click)="openModal(x.id)"> 
        <ion-label>
          <h2 class="mayusculas"><ion-icon name="home"></ion-icon>  {{x.direccion}}</h2>
          <p class="mayusculas"><ion-icon name="information-circle"></ion-icon>  {{x.ciudad}}</p>
          <p class="mayusculas"><ion-icon name="information-circle"></ion-icon>  {{x.calle}}</p>
          <p class="mayusculas"><ion-icon name="phone-portrait"></ion-icon>  {{x.numero}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <!-- BOTON AGREGAR -->
  <ion-fab right bottom>
    <button ion-fab (click)="openModal()" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>