<ion-header>
    <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Envíar Mensaje</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <form >
    <div  *ngIf="baseId!='82'">
      <img src="{{ message.picture }}" id="imgAvatar" alt="Avatar"
      style="display: block; width: 200px; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <!--ASUNTO-->
    <ion-item>
        <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Asunto</ion-label>
        <ion-input type="text" [(ngModel)]="message.subject" name="subject">
        </ion-input>
      </ion-item>
    <!--MENSAJE-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-create" md="md-create"></ion-icon>  Mensaje</ion-label>
      <ion-textarea type="text" [(ngModel)]="message.message" name="message">
      </ion-textarea>
    </ion-item>
    <!--LINK-->
    <ion-item>
      <ion-label floating><ion-icon name="link"></ion-icon>  Link Documento</ion-label>
      <ion-input type="text" [(ngModel)]="message.link1" name="link1">
      </ion-input>
    </ion-item>
    <!--LINK-->
    <ion-item>
      <ion-label floating><ion-icon name="link"></ion-icon>  Link Otros</ion-label>
      <ion-input type="text" [(ngModel)]="message.link2" name="link2">
      </ion-input>
    </ion-item>
    <!-- ENVIAR IMAGEN -->
    <div class="upload-btn-wrapper"  *ngIf="baseId!='82'">
      <button ion-button block icon-start outline>
        <ion-icon ios="ios-image" md="md-image"></ion-icon>Envíar Imagen
      </button>
      <input class="input-img" type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
    </div>
    <!-- ENVIAR MENSAJE -->
    <button ion-button block type="submit" [disabled]="btnDisabled" icon-start (click)="sendMessage()" *ngIf="parameter.message != 'New'">
      <ion-icon ios="ios-send" md="md-send"></ion-icon>Envíar Mensaje
    </button>
    <!-- ENVIAR MENSAJE -->
    <button ion-button block type="submit" [disabled]="btnDisabled" icon-start (click)="sendMasive()" *ngIf="parameter.message == 'New'">
      <ion-icon ios="ios-send" md="md-send"></ion-icon>Envíar Mensaje Masivo
    </button>
  </form>
</ion-content>
