detail-orders-client {
    image-size {
        height: 100px;
        width: 200px;
    }
    .row-center img {
        position:absolute;
        left: 0;
        right: 0;
        margin:0 auto;
        top:50%;
        transform:translateY(-50%);
    }
}