<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mi Progreso</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="inicio" (click)="inicio()">
        Inicio
      </ion-segment-button>
      <ion-segment-button value="control" (click)="intermedio()">
        Control
      </ion-segment-button>
      <ion-segment-button value="final" (click)="actual()">
        Final
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <!-- INICIO -->
  <div  *ngIf="+membresiaClient >= +nivelMembresia">
  <div *ngIf="selectItem == 'inicio'">
    <div *ngIf="!data1.id">
      <h1 class="center"><ion-icon ios="ios-sad" md="md-sad"></ion-icon>  Información No Disponible</h1>
    </div>
    <div *ngIf="data1.id">
    <h6><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> Fecha de Medición</h6>
    <p class="text">{{fechaMedicion}}</p>
    <h6><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> Peso (Kg)</h6>
    <p class="text">{{data1.peso}}</p>
    <h6><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> % de Grasa</h6>
    <p class="text">{{data1.grasa}}</p>
    <h6><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> IMC</h6>
    <p class="text">{{data1.imc}}</p>
    <h6><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> Masa Muscular</h6>
    <p class="text">{{data1.masa_muscular}}</p>
    <h6><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> Complexión Física</h6>
    <p class="text">{{data1.complexion}}</p>
    <h6><ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon> Comentario</h6>
    <p class="text">{{data1.comentario}}</p>
    <h6><ion-icon ios="ios-image" md="md-image"></ion-icon> Foto de Frente</h6><hr/>
    <img class="image-slides2" [src]="data1.foto_frente | sanitizer">
    <h6><ion-icon ios="ios-image" md="md-image"></ion-icon> Foto de Espalda</h6><hr/>
    <img class="image-slides2" [src]="data1.foto_espalda | sanitizer">
    <h6><ion-icon ios="ios-image" md="md-image"></ion-icon> Foto de Perfil</h6><hr/>
    <img class="image-slides2" [src]="data1.opcion2 | sanitizer">
    </div>
  </div>
  </div>
  <!-- CONTROL -->
  <div  *ngIf="+membresiaClient >= +nivelMembresia">
  <div *ngIf="selectItem == 'control'">
    <div *ngIf="!data2.id">
      <h1 class="center"><ion-icon ios="ios-sad" md="md-sad"></ion-icon>  Información No Disponible</h1>
    </div>
    <div *ngIf="data2.id">
    <h6><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> Fecha de Medición</h6>
    <p class="text">{{fechaMedicion}}</p>
    <h6><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> Peso (Kg)</h6>
    <p class="text">{{data2.peso}}</p>
    <h6><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> % de Grasa</h6>
    <p class="text">{{data2.grasa}}</p>
    <h6><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> IMC</h6>
    <p class="text">{{data2.imc}}</p>
    <h6><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> Masa Muscular</h6>
    <p class="text">{{data2.masa_muscular}}</p>
    <h6><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> Complexión Física</h6>
    <p class="text">{{data2.complexion}}</p>
    <h6><ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon> Comentario</h6>
    <p class="text">{{data2.comentario}}</p>
    <h6><ion-icon ios="ios-image" md="md-image"></ion-icon> Foto de Frente</h6><hr/>
    <img class="image-slides2" [src]="data2.foto_frente | sanitizer">
    <h6><ion-icon ios="ios-image" md="md-image"></ion-icon> Foto de Espalda</h6><hr/>
    <img class="image-slides2" [src]="data2.foto_espalda | sanitizer">
    <h6><ion-icon ios="ios-image" md="md-image"></ion-icon> Foto de Perfil</h6><hr/>
    <img class="image-slides2" [src]="data2.opcion2 | sanitizer">
    </div> 
  </div>
  </div>

  <!-- FINAL -->
  <div  *ngIf="+membresiaClient >= +nivelMembresia">
  <div *ngIf="selectItem == 'final'">
    <div *ngIf="!data3.id">
      <h1 class="center"><ion-icon ios="ios-sad" md="md-sad"></ion-icon>  Información No Disponible</h1>
    </div>
    <div *ngIf="data3.id">
    <h6><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> Fecha de Medición</h6>
    <p class="text">{{fechaMedicion}}</p>
    <h6><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> Peso (Kg)</h6>
    <p class="text">{{data3.peso}}</p>
    <h6><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> % de Grasa</h6>
    <p class="text">{{data3.grasa}}</p>
    <h6><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> IMC</h6>
    <p class="text">{{data3.imc}}</p>
    <h6><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> Masa Muscular</h6>
    <p class="text">{{data3.masa_muscular}}</p>
    <h6><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> Complexión Física</h6>
    <p class="text">{{data3.complexion}}</p>
    <h6><ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon> Comentario</h6>
    <p class="text">{{data3.comentario}}</p>
    <h6><ion-icon ios="ios-image" md="md-image"></ion-icon> Foto de Frente</h6><hr/>
    <img class="image-slides2" [src]="data3.foto_frente | sanitizer">
    <h6><ion-icon ios="ios-image" md="md-image"></ion-icon> Foto de Espalda</h6><hr/>
    <img class="image-slides2" [src]="data3.foto_espalda | sanitizer">
    <h6><ion-icon ios="ios-image" md="md-image"></ion-icon> Foto de Perfil</h6><hr/>
    <img class="image-slides2" [src]="data3.opcion2 | sanitizer">
    </div>
  </div>
  </div>
</ion-content>