<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveChanges()" padding>
    <!-- WORKOUT -->
    <ion-item>
      <ion-label floating><ion-icon name="person"></ion-icon>  Cliente</ion-label>
      <ion-select [(ngModel)]="data.client" name="client">
        <ion-option *ngFor="let x of clients" value="{{x.id}}">{{x.firstname}} {{x.lastname}}</ion-option>
      </ion-select>
    </ion-item>
    <!-- WORKOUT -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Workout</ion-label>
      <ion-select [(ngModel)]="data.workout" name="workout">
        <ion-option *ngFor="let x of workouts" value="{{x.id}}">{{x.title}}</ion-option>
      </ion-select>
    </ion-item>

    <button ion-button block type="submit" icon-start [disabled]="disabledBtn">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
</ion-content>