<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Workouts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-list>
    <div *ngFor="let x of table">
      <ion-item *ngIf="x.client==idClient" (click)="openForm(x.workouts.id)">
        <ion-thumbnail item-start>
          <img *ngIf="x.workouts.picture" src="{{ x.workouts.picture }}">
          <img *ngIf="!x.workouts.picture" src="http://conozcasucanton.com/wp-content/uploads/sites/11/2016/07/icono_pesa.png">
        </ion-thumbnail>
        <h2 class="mayusculas">{{ x.workouts.title }}</h2>
        <p class="contenido">{{ x.workouts.description }}</p>
        <p class="contenido"><strong>Asignado: </strong>{{ x.clients.firstname }} {{ x.clients.lastname }}</p>
      </ion-item>
    </div>
  </ion-list>
</ion-content>