page-client {
  .img-size {
    height: 80px;
  }
  .img-profile {
    height: 75px;
    width: auto;
    margin-bottom: 10%;
  }
  .thumbnail {
    width: 100px;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
  .div-color {
    background-color: #F2F2F2;
    border-color: #E8D9CF
  }
  .ion-item:focus {
    background-color: #F2F2F2;
  }
  .img-div {
    height: 100%;
    width: 100%;
  }
  .div-menu {
    position: relative;
    background-color: #2a3350;
    height: 160px;
    color: white;
  }
  .text {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .text2 {
    margin-bottom: 0px;
  }
  .profile {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}
