<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ZFIT Club</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar no-border-top color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="zfit" (click)="getAllUser()">
        ZFIT Club
      </ion-segment-button>
      <ion-segment-button value="events" (click)="getAll()">
        Mis Eventos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="+membresiaClient >= +nivelMembresia">
  <div *ngIf="selectItem == 'zfit'">
  <ion-card class="adv-map" *ngFor="let e of table">
    <div style="position: relative">
      <img src="{{e.picture}}">
      <ion-fab right top>
      <button ion-fab top (click)="detailForm(e.id)" >
        <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
      </button>      
      </ion-fab>
    </div>
    <ion-card-content item-start>
      <ion-card-title>
      {{e.place}}
      </ion-card-title>
      <p>{{e.description}}</p>
    </ion-card-content>
  </ion-card>
  </div>
  </div>

  <div *ngIf="+membresiaClient >= +nivelMembresia">
  <div *ngIf="selectItem == 'events'">
  <ion-card class="adv-map" *ngFor="let e of events">
    <div style="position: relative">
      <img src="{{e.picture}}">
      <ion-fab right top>
      <button ion-fab top (click)="openForm(e.id)" >
          <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
      </button>      
      </ion-fab>
    </div>
    <ion-card-content item-start>
      <ion-card-title>
      {{e.place}}
      </ion-card-title>
      <p>{{e.description}}</p>
    </ion-card-content>
  </ion-card>
  </div>
  </div>

  <div *ngIf="+membresiaClient >= +nivelMembresia">
  <ion-fab right bottom *ngIf="selectItem == 'events'">
    <button ion-fab (click)="openForm()" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
  </div>
</ion-content>
