
<!-- 
  - @author    ThemesBuckets <themebucketbd@gmail.com>
  - @copyright Copyright (c) 2018
  - @license   Fulcrumy
-->
<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>YouTube</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="videos">
        Videos
      </ion-segment-button>
      <ion-segment-button value="playlist">
        Play List
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<!-- Content of Home Tab -->
<ion-content>
  <div *ngIf="selectItem == 'videos'" >
  <!-- Pull-up Refresh  -->
  <ion-refresher (ionRefresh)="doRefresh($event);">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Filter/Sort Options -->
  <ion-item no-lines>
    <ion-icon ios="ios-funnel" md="md-funnel" item-start></ion-icon>
    <ion-label>Ordenar Por</ion-label>
    <ion-select [(ngModel)]="orderBy" (ionChange)="changeOrder(orderBy)">
      <ion-option *ngFor="let orderBy of orders" [value]="orderBy">{{orderBy}}</ion-option>
    </ion-select>
  </ion-item>

  <div class="w3-row">
    <div class="w3-half" *ngFor="let video of videos" >
      <!-- List of Home Videos  -->
      <ion-card (tap)="openVideo(video)">

        <!-- Thumbnails of Videos -->
        <img [src]="video.snippet.thumbnails.medium.url">

        <!-- Play Button  -->
        <ion-fab right>
          <button ion-fab color="youtube">
            <ion-icon name="logo-youtube" color="white"></ion-icon>
          </button>
        </ion-fab>

        <!-- Video Published Date -->
        <ion-item>
          <!--<ion-icon name="clock" color="color1"></ion-icon>-->
          <ion-icon ios="ios-time" md="md-time"></ion-icon>
          <span> &nbsp; &nbsp; {{video.snippet.publishedAt | date }}</span>
        </ion-item>

        <!-- Title of Video -->
        <ion-item text-wrap>
          {{video.snippet.title}}
        </ion-item>
      </ion-card>
    </div>
  </div>

  <!--  Infinite Scroll -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" distance="10%">
    <ion-infinite-scroll-content *ngIf="!finished" loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Nothing Found  -->
  <div id="not-found" *ngIf="videos.length == 0">
    <img src="https://wallpapercave.com/wp/wp2414743.png">
  </div>
</div>

<!-- Content of Playlist Tab  -->
<div *ngIf="selectItem == 'playlist'">

    <!-- Pull-up Refresh  -->
    <ion-refresher (ionRefresh)="doRefresh($event);">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  
    <!-- List of Playlist  -->
    <div *ngIf="playlists && playlists.length">
  
      <ion-card *ngFor="let playlist of playlists" (tap)="openPlaylistItems(playlist.id)">
  
        <!-- Thumbnails -->
        <div class="image-contents">
          <img [src]="playlist.snippet.thumbnails.medium.url" alt="{{playlist.snippet.title}}" class="image">
          <div class="middle">
            <div class="text">
              <p>{{playlist.contentDetails.itemCount}}</p>
              <ion-icon name="md-menu"></ion-icon>
            </div>
          </div>
        </div>
  
        <!-- Published Date -->
        <ion-item>
          <ion-icon name="clock" color="color1"></ion-icon>
          <span> &nbsp; &nbsp; {{playlist.snippet.publishedAt | date }}</span>
        </ion-item>
  
        <!-- Title of Playlist -->
        <ion-item text-wrap>
          <p class="list-title">{{playlist.snippet.title}}</p>
        </ion-item>
      </ion-card>
    </div>
  
    <!--  Infinite Scroll -->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" distance="10%">
      <ion-infinite-scroll-content *ngIf="!finished" loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  
    <!-- Noting FOund  -->
    <div id="not-found" *ngIf="playlists.length == 0">
      <img src="assets/imgs/empty.jpg">
    </div>
  </div>

</ion-content>

