<ion-menu cache-view="false" [content]="content">
  <ion-content>
    <div class="div-menu">
      <img class="img-div" *ngIf="pictureCover" src="{{pictureCover}}">
      <img class="img-div" *ngIf="!pictureCover" src="http://foxylabs.xyz/Documentos/imgs/categories.jpg">
      <div class="profile">
      <img *ngIf="data.picture" class="img-profile" src="{{ data.picture }}">
      <h6 *ngIf="data.firstname" class="text2">{{ data.firstname }} {{ data.lastname }}</h6>
      <p *ngIf="data.email" class="text">{{ data.email }}</p>
      </div>
    </div>
    <ion-list>
      <button no-lines menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" ios="{{p.ios}}" item-start></ion-icon>
        {{ p.apodo!=null?p.apodo:p.title }}
      </button>
      <button no-lines menuClose ion-item (click)="openCategory()" *ngIf="baseIdApp == 202">
        <ion-icon ios="ios-heart" md="md-heart" item-start></ion-icon>
        Categoria
      </button>
      <button no-lines menuClose ion-item (click)="openAdoptions()" *ngIf="baseIdUser == 38">
        <ion-icon ios="ios-heart" md="md-heart" item-start></ion-icon>
        Adopciones
      </button>
      <button no-lines menuClose ion-item (click)="openWorkouts()" *ngIf="baseIdApp == 14">
        <ion-icon ios="ios-heart" md="md-heart" item-start></ion-icon>
        Rutinas
      </button>
      <button no-lines menuClose ion-item (click)="openLogIn()" *ngIf="authentication == 'NoAuthentication'">
        <ion-icon ios="ios-log-in" name="md-log-in" item-start></ion-icon>
        Iniciar Sesión
      </button>
      <button no-lines menuClose ion-item (click)="logOut()" *ngIf="authentication == 'Authentication'">
        <ion-icon name="md-log-out" ios="ios-log-out" item-start></ion-icon>
        Cerrar Sesión
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
